

/*********************************\
|   FIXES FOR INTERNET EXPLODER   |
\*********************************/

/* Ligatures: app.css has each one of these selectors with the webkit-specific attribute, and not the one that IE needs. */
.form--input-radio input[type="radio"]+label:before,
.form--input-radio input[type="radio"]:checked+label:before,
.form--input-checkbox input[type="checkbox"]+label:before,
.form--input-checkbox input[type="checkbox"]:checked+label:before,
[type='text']:focus:focus:after,
[type='password']:focus:focus:after,
[type='date']:focus:focus:after,
[type='datetime']:focus:focus:after,
[type='datetime-local']:focus:focus:after,
[type='month']:focus:focus:after,
[type='week']:focus:focus:after,
[type='email']:focus:focus:after,
[type='number']:focus:focus:after,
[type='search']:focus:focus:after,
[type='tel']:focus:focus:after,
[type='time']:focus:focus:after,
[type='url']:focus:focus:after,
[type='color']:focus:focus:after,
textarea:focus:focus:after,
input[disabled]+label:before,
input[readonly]+label:before,
.form--input-text input.disabled:after,
.accordion-item .accordion-title::before,
.form--input-text.-is-required label:after,
.form--input-select.-is-required label:after,
.form--input-checkbox.-is-required legend:after,
.form--input-radio.-is-required legend:after,
.help-text.-has-error p:after {
    font-feature-settings: 'liga';
}

/* Make sure native checkboxes don't show up */
@media all and (-ms-high-contrast: none) {
    .form--input-checkbox input[type='checkbox'] {
        display: none;
    }
}

/* Add dropdown arrow back for IE */
/*select::-ms-expand {
    display: block;
    transform: translateX(1.03093rem);
    background-color: transparent;
    border-color: transparent;
}*/
/* Remove dropdown arrow again for fields with edit mode off */
/*.-edit-mode-off select:disabled::-ms-expand {
    display: none;
}*/

/* Workspace tree filter field: should be gray, not bright green */
.feature--filter-input:-ms-input-placeholder {
    color: #cacaca !important;
}

/* Workspace tree filter field: remove IE's clear button in favor of our own */
.feature--filter-input::-ms-clear {
    display: none;
}

// TODO: add icon fixes for IE on new fancy tree states