.content--prompt.callout.success(data-closable)
    .grid-x.grid-padding-x
        .icon.cell.small-1
            i.material-icons.md-24 new_releases
        .text.cell.small-10
            ul.small  
                li
                    a(href="kitchensink.html#Forms") FIX: IE/Edge select dropdown (no icon arrow) - 1/07/19
                li
                    a(href="workspace-author.html#panelA") FIX: tree view children alignment and selection styling - 1/07/19
                li
                    a(href="workspace-author.html#panelA") ADDED: styling for tree items that are disabled - 1/07/19

                li
                    a(href="workspace-author.html#panelA") ADDED: button in section divider - 1/07/19

                li
                    a(href="kitchensink.html#Prompts") OVERHUAL: Project Page (with Quick Ations, Tab Action Menu) - 10/25/18
                li
                    a(href="kitchensink.html#Prompts") ADDED: 'Form Composer' HTML Screen - 10/25/18
                li
                    a(href="kitchensink.html#Prompts") ADDED: 'Metric Authoring Tool' HTML Screen - 10/27/18
                
                
        .btn.cell.small-1
            button.close-button(aria-label='Dismiss alert', type='button', data-close='')
                i.material-icons.md-18 close