.content--prompt.callout.warning(data-closable)
    .grid-x.grid-padding-x
        .icon.cell.small-1
            i.material-icons.md-24 system_update_alt
        .text.cell.small-10
            ul.small  
                li
                    a(href="kitchensink.html#Prompts") FIXED: character lenght workspace tab styling (9/29/18)
                li
                    a(href="kitchensink-side-navigation.html") NEW: workspace tab styling (9/29/18)
                
        .btn.cell.small-1
            button.close-button(aria-label='Dismiss alert', type='button', data-close='')
                i.material-icons.md-18 close