.composer--holder-elements

    #card-id-1.card--element-node.card(data-micro-interaction="card")
        .card-divider
            .grid-x
                .card-title.cell.small-12.medium-10.large-10
                    .icon
                        i.material-icons.md-18 change_history
                    .text
                        | Element Name Here
                .card-options.small-12.medium-2.large-2
                    button.button-option-setting(data-micro-interaction="option")
                        span.icon
                            i.material-icons.md-18 settings
                    button.button-option-drag(data-micro-interaction="card")
                        span.icon
                            i.material-icons.md-18 drag_handle
        .card-section.-is-expanded
            .grid-x
                .medium-3.cell
                    .form--input-select
                        .switch.tiny
                                label.switch-value(for='switchA-1')
                                    | Show:
                                input#switchA-1.switch-input(type='checkbox', name='switchA-1')
                                label.switch-paddle(for='switchA-1')
                                    span.show-for-sr Edit Mode
                                    span.switch-active(aria-hidden='true')
                                        | yes
                                    span.switch-inactive(aria-hidden='true')
                                        | no
                .medium-3.cell
                    .form--input-select
                        .switch.tiny
                                label.switch-value(for='switchA-2')
                                    | Show
                                input#switchA-2.switch-input(type='checkbox', name='switchA-2')
                                label.switch-paddle(for='switchA-2')
                                    span.show-for-sr Edit Mode
                                    span.switch-active(aria-hidden='true')
                                        i.material-icons.md-14(aria-hidden='true') visibility
                                    span.switch-inactive(aria-hidden='true')
                                        i.material-icons.md-14(aria-hidden='true') visibility_off
                .medium-3.cell
                    .form--input-select
                        label
                            | Options
                        select(required='')
                            option(value='volvo') One
                            option(value='saab') Two
                            option(value='mercedes') Three
                .medium-3.cell
                    .form--input-select
                        label
                            | Options
                        select(required='')
                            option(value='volvo') One
                            option(value='saab') Two
                            option(value='mercedes') Three
    #card-id-1a.card--element-node.card.-is-selected.-is-indented-1(data-micro-interaction="card")
        .card-divider
            .grid-x
                .card-title.cell.small-12.medium-10.large-10
                    .icon
                        i.material-icons.md-18 change_history
                    .text
                        | Element Name Here
                .card-options.small-12.medium-2.large-2.hide-for-small
                    button.button-option-setting(data-micro-interaction="option")
                        span.icon
                            i.material-icons.md-18 settings
                    button.button-option-drag(data-micro-interaction="card")
                        span.icon
                            i.material-icons.md-18 drag_handle
        .card-section.-is-expanded

            .grid-x
                .medium-3.cell
                    .form--input-select
                        .switch.tiny
                                label.switch-value(for='aswitchA-1')
                                    | Show:
                                input#aswitchA-1.switch-input(type='checkbox', name='aswitchA-1')
                                label.switch-paddle(for='aswitchA-1')
                                    span.show-for-sr Edit Mode
                                    span.switch-active(aria-hidden='true')
                                        | yes
                                    span.switch-inactive(aria-hidden='true')
                                        | no
                .medium-3.cell
                    .form--input-select
                        .switch.tiny
                                label.switch-value(for='switchA-2')
                                    | Show
                                input#switchA-2.switch-input(type='checkbox', name='switchA-2')
                                label.switch-paddle(for='switchA-2')
                                    span.show-for-sr Edit Mode
                                    span.switch-active(aria-hidden='true')
                                        i.material-icons.md-14(aria-hidden='true') visibility
                                    span.switch-inactive(aria-hidden='true')
                                        i.material-icons.md-14(aria-hidden='true') visibility_off
                .medium-3.cell
                    .form--input-select
                        label
                            | Options
                        select(required='')
                            option(value='volvo') One
                            option(value='saab') Two
                            option(value='mercedes') Three
                .medium-3.cell
                    .form--input-select
                        label
                            | Options
                        select(required='')
                            option(value='volvo') One
                            option(value='saab') Two
                            option(value='mercedes') Three

#composer-a.composer--grid
    .grid-x
        .composer--grid-cell.cell.small-2
            | 1
        .composer--grid-cell.cell.small-2
            | 2
        .composer--grid-cell.cell.small-2
            | 3
        .composer--grid-cell.cell.small-2
            | 4
        .composer--grid-cell.cell.small-2
            | 5
        .composer--grid-cell.cell.small-2
            | 6
        .composer--grid-cell.cell.small-2
            | 1
        .composer--grid-cell.cell.small-2
            | 2
        .composer--grid-cell.cell.small-2

            #card-id-7.card--element-node.card(data-micro-interaction="card").-is-indented-1
                .card-divider
                    .grid-x
                        .card-title.cell.small-12.medium-10.large-10
                            .icon
                                i.material-icons.md-18 change_history
                            .text
                                | Quib Element Name Here
                        .card-options.small-12.medium-2.large-2
                            button.button-option-setting.-is-expanded(data-micro-interaction="option")
                                span.icon
                                    i.material-icons.md-18 settings
                            button.button-option-drag(data-micro-interaction="card")
                                div.icon
                                    i.material-icons.md-18 delete
                .card-section.-is-collapsed
                    .grid-x
                        .cell.small-12.medium-3.large-3
                            .form--input-select
                                .switch.tiny
                                        label.switch-value(for='switchC-1')
                                            | Show
                                        input#switchC-1.switch-input(type='checkbox', name='switchC-1')
                                        label.switch-paddle(for='switchC-1')
                                            span.show-for-sr Edit Mode
                                            span.switch-active(aria-hidden='true')
                                                i.material-icons.md-14(aria-hidden='true') visibility
                                            span.switch-inactive(aria-hidden='true')
                                                i.material-icons.md-14(aria-hidden='true') visibility_off
                        .cell.small-12.medium-3.large-3
                            .form--input-select
                                .switch.tiny
                                        label.switch-value(for='switchC-2')
                                            | Show
                                        input#switchC-2.switch-input(type='checkbox', name='switchC-2')
                                        label.switch-paddle(for='switchC-2')
                                            span.show-for-sr Edit Mode
                                            span.switch-active(aria-hidden='true')
                                                i.material-icons.md-14(aria-hidden='true') visibility
                                            span.switch-inactive(aria-hidden='true')
                                                i.material-icons.md-14(aria-hidden='true') visibility_off
                        .cell.small-12.medium-3.large-3
                            .form--input-select
                                .switch.tiny
                                        label.switch-value(for='switchC-3')
                                            | Show
                                        input#switchC-3.switch-input(type='checkbox', name='switchC-3')
                                        label.switch-paddle(for='switchC-3')
                                            span.show-for-sr Edit Mode
                                            span.switch-active(aria-hidden='true')
                                                i.material-icons.md-14(aria-hidden='true') visibility
                                            span.switch-inactive(aria-hidden='true')
                                                i.material-icons.md-14(aria-hidden='true') visibility_off
                        .cell.small-12.medium-3.large-3
                            .form--input-select
                                .switch.tiny
                                        label.switch-value(for='switchC-4')
                                            | Show
                                        input#switchC-4.switch-input(type='checkbox', name='switchC-4')
                                        label.switch-paddle(for='switchC-4')
                                            span.show-for-sr Edit Mode
                                            span.switch-active(aria-hidden='true')
                                                i.material-icons.md-14(aria-hidden='true') visibility
                                            span.switch-inactive(aria-hidden='true')
                                                i.material-icons.md-14(aria-hidden='true') visibility_off
                                                
        .composer--grid-cell.cell.small-6

            #card-id-8.card--element-node.-is-indented-0.card(data-micro-interaction="card")
                .card-divider
                    .grid-x
                        .card-title.cell.small-12.medium-10.large-10
                            .icon.hide-for-small
                                i.material-icons.md-18 change_history
                            .text
                                | Long Long Name Here If You Like 20340 029 3029 032 038 
                        .card-options.small-12.medium-2.large-2
                            button.button-option-setting.-is-expanded(data-micro-interaction="option")
                                span.icon
                                    i.material-icons.md-18 settings
                            div.option-drag-handle
                                button.button-option-drag(data-micro-interaction="card")
                                    div.icon
                                        i.material-icons.md-18 delete
                .card-section.-is-collapsed
                    .grid-x
                        .medium-3.cell
                            .form--input-select
                                .switch.tiny
                                        label.switch-value(for='switchC-1')
                                            | Show
                                        input#switchC-1.switch-input(type='checkbox', name='switchC-1')
                                        label.switch-paddle(for='switchC-1')
                                            span.show-for-sr Edit Mode
                                            span.switch-active(aria-hidden='true')
                                                i.material-icons.md-14(aria-hidden='true') visibility
                                            span.switch-inactive(aria-hidden='true')
                                                i.material-icons.md-14(aria-hidden='true') visibility_off
        
        .composer--grid-cell.cell.small-2
            | 1
        .composer--grid-cell.cell.small-2
            | 2
        .composer--grid-cell.cell.small-2
            | 3
        .composer--grid-cell.cell.small-2
            | 4
        .composer--grid-cell.cell.small-2
            | 5
        .composer--grid-cell.cell.small-2
            | 6

//- table#composer-c.composer--grid-table(role='presentation')
    //- tr
        th Month
        th Savings
    tr
        td
        td
    tr
        td
        td
    tr
        td
        td
    tr
        td(colspan='2')

    tr  
        td(colspan='2')
            #card-id-143.card--element-node.card(data-micro-interaction="card")
                .card-divider
                    .grid-x
                        .card-title.cell.small-10
                            .icon
                                i.material-icons.md-18 change_history
                            .text
                                | Element Name Here
                        .card-options.small-2
                            button.button-option-setting(data-micro-interaction="option")
                                span.icon
                                    i.material-icons.md-18 settings
                            button.button-option-drag(data-micro-interaction="card")
                                span.icon
                                    i.material-icons.md-18 drag_handle
                .card-section.-is-expanded

                    .grid-x
                        .medium-3.cell
                            .form--input-select
                                .switch.tiny
                                        label.switch-value(for='switchA-1')
                                            | Show
                                        input#switchA-1.switch-input(type='checkbox', name='switchA-1')
                                        label.switch-paddle(for='switchA-1')
                                            span.show-for-sr Edit Mode
                                            span.switch-active(aria-hidden='true')
                                                | yes   
                                            span.switch-inactive(aria-hidden='true')
                                                | no
                        .medium-3.cell
                            .form--input-select
                                .switch.tiny
                                        label.switch-value(for='switchA-2')
                                            | Show
                                        input#switchA-2.switch-input(type='checkbox', name='switchA-2')
                                        label.switch-paddle(for='switchA-2')
                                            span.show-for-sr Edit Mode
                                            span.switch-active(aria-hidden='true')
                                                i.material-icons.md-14(aria-hidden='true') visibility
                                            span.switch-inactive(aria-hidden='true')
                                                i.material-icons.md-14(aria-hidden='true') visibility_off

                        .medium-3.cell
                            .form--input-select
                                label
                                    | Options:
                                select(required='')
                                    option(value='volvo') One
                                    option(value='saab') Two
                                    option(value='mercedes') Three
                        .medium-3.cell
                            .form--input-select
                                label
                                    | Options:
                                select(required='')
                                    option(value='volvo') One
                                    option(value='saab') Two
                                    option(value='mercedes') Three
            #card-id-143.card--element-node.card.-is-indented-2(data-micro-interaction="card")
                .card-divider
                    .grid-x
                        .card-title.cell.small-10
                            .icon
                                i.material-icons.md-18 change_history
                            .text
                                | Element Name Here
                        .card-options.small-2
                            button.button-option-setting(data-micro-interaction="option")
                                span.icon
                                    i.material-icons.md-18 settings
                            button.button-option-drag(data-micro-interaction="card")
                                span.icon
                                    i.material-icons.md-18 drag_handle
                .card-section.-is-expanded

                    .grid-x
                        .medium-3.cell
                            .form--input-select
                                .switch.tiny
                                        label.switch-value(for='switchA-1')
                                            | Show
                                        input#switchA-1.switch-input(type='checkbox', name='switchA-1')
                                        label.switch-paddle(for='switchA-1')
                                            span.show-for-sr Edit Mode
                                            span.switch-active(aria-hidden='true')
                                                | yes   
                                            span.switch-inactive(aria-hidden='true')
                                                | no
                        .medium-3.cell
                            .form--input-select
                                .switch.tiny
                                        label.switch-value(for='switchA-2')
                                            | Show
                                        input#switchA-2.switch-input(type='checkbox', name='switchA-2')
                                        label.switch-paddle(for='switchA-2')
                                            span.show-for-sr Edit Mode
                                            span.switch-active(aria-hidden='true')
                                                i.material-icons.md-14(aria-hidden='true') visibility
                                            span.switch-inactive(aria-hidden='true')
                                                i.material-icons.md-14(aria-hidden='true') visibility_off

                        .medium-3.cell
                            .form--input-select
                                label
                                    | Options:
                                select(required='')
                                    option(value='volvo') One
                                    option(value='saab') Two
                                    option(value='mercedes') Three
                        .medium-3.cell
                            .form--input-select
                                label
                                    | Options:
                                select(required='')
                                    option(value='volvo') One
                                    option(value='saab') Two
                                    option(value='mercedes') Three
            #card-id-143.card--element-node.card.-is-indented-1(data-micro-interaction="card")
                .card-divider
                    .grid-x
                        .card-title.cell.small-10
                            .icon
                                i.material-icons.md-18 change_history
                            .text
                                | Element Name Here
                        .card-options.small-2
                            button.button-option-setting(data-micro-interaction="option")
                                span.icon
                                    i.material-icons.md-18 settings
                            button.button-option-drag(data-micro-interaction="card")
                                span.icon
                                    i.material-icons.md-18 drag_handle
                .card-section.-is-expanded

                    .grid-x
                        .medium-3.cell
                            .form--input-select
                                .switch.tiny
                                        label.switch-value(for='switchA-1')
                                            | Show
                                        input#switchA-1.switch-input(type='checkbox', name='switchA-1')
                                        label.switch-paddle(for='switchA-1')
                                            span.show-for-sr Edit Mode
                                            span.switch-active(aria-hidden='true')
                                                | yes   
                                            span.switch-inactive(aria-hidden='true')
                                                | no
                        .medium-3.cell
                            .form--input-select
                                .switch.tiny
                                        label.switch-value(for='switchA-2')
                                            | Show
                                        input#switchA-2.switch-input(type='checkbox', name='switchA-2')
                                        label.switch-paddle(for='switchA-2')
                                            span.show-for-sr Edit Mode
                                            span.switch-active(aria-hidden='true')
                                                i.material-icons.md-14(aria-hidden='true') visibility
                                            span.switch-inactive(aria-hidden='true')
                                                i.material-icons.md-14(aria-hidden='true') visibility_off

                        .medium-3.cell
                            .form--input-select
                                label
                                    | Options:
                                select(required='')
                                    option(value='volvo') One
                                    option(value='saab') Two
                                    option(value='mercedes') Three
                        .medium-3.cell
                            .form--input-select
                                label
                                    | Options:
                                select(required='')
                                    option(value='volvo') One
                                    option(value='saab') Two
                                    option(value='mercedes') Three

        
        
//- #card-id-1.card--element-node.card(data-micro-interaction="card")
//-     .card-divider
//-         .grid-x
//-             .card-title.cell.small-10
//-                 .icon
//-                     i.material-icons.md-18 change_history
//-                 .text
//-                     | Element Name Here
//-             .card-options.small-2
//-                 button.button-option-setting(data-micro-interaction="option")
//-                     span.icon
//-                         i.material-icons.md-18 settings
//-                 button.button-option-drag(data-micro-interaction="card")
//-                     span.icon
//-                         i.material-icons.md-18 drag_handle
//-     .card-section.-is-expanded

//-         .grid-x
//-             .medium-3.cell
//-                 .form--input-select
//-                     .switch.tiny
//-                             label.switch-value(for='switchA-1')
//-                                 | Show:
//-                             input#switchA-1.switch-input(type='checkbox', name='switchA-1')
//-                             label.switch-paddle(for='switchA-1')
//-                                 span.show-for-sr Edit Mode
//-                                 span.switch-active(aria-hidden='true')
//-                                    | yes
//-                                 span.switch-inactive(aria-hidden='true')
//-                                    | no
//-             .medium-3.cell
//-                 .form--input-select
//-                     .switch.tiny
//-                             label.switch-value(for='switchA-2')
//-                                 | Show
//-                             input#switchA-2.switch-input(type='checkbox', name='switchA-2')
//-                             label.switch-paddle(for='switchA-2')
//-                                 span.show-for-sr Edit Mode
//-                                 span.switch-active(aria-hidden='true')
//-                                     i.material-icons.md-14(aria-hidden='true') visibility
//-                                 span.switch-inactive(aria-hidden='true')
//-                                     i.material-icons.md-14(aria-hidden='true') visibility_off

//-             .medium-3.cell
//-                 .form--input-select
//-                     label
//-                         | Options:
//-                     select(required='')
//-                         option(value='volvo') One
//-                         option(value='saab') Two
//-                         option(value='mercedes') Three
//-             .medium-3.cell
//-                 .form--input-select
//-                     label
//-                         | Options:
//-                     select(required='')
//-                         option(value='volvo') One
//-                         option(value='saab') Two
//-                         option(value='mercedes') Three

//- #card-id-2.card--element-node.-is-selected.-is-indented-1.card(data-micro-interaction="card")
//-     .card-divider
//-         .grid-x
//-             .card-title.cell.small-10
//-                 .icon
//-                     i.material-icons.md-18 change_history
//-                 .text
//-                     | Element Name Here
//-             .card-options.small-2
//-                 button.button-option-setting(data-micro-interaction="option")
//-                     span.icon
//-                         i.material-icons.md-18 settings
//-                 button.button-option-drag(data-micro-interaction="card")
//-                     span.icon
//-                         i.material-icons.md-18 drag_handle
//-     .card-section.-is-expanded
//-         .grid-x
//-             .medium-3.cell
//-                 .form--input-select
//-                     .switch.tiny
//-                             label.switch-value(for='switchB-12')
//-                                 | Show
//-                             input#switchB-12.switch-input(type='checkbox', name='switchB-12')
//-                             label.switch-paddle(for='switchB-12')
//-                                 span.show-for-sr Edit Mode
//-                                 span.switch-active(aria-hidden='true')
//-                                     i.material-icons.md-14(aria-hidden='true') visibility
//-                                 span.switch-inactive(aria-hidden='true')
//-                                     i.material-icons.md-14(aria-hidden='true') visibility_off
//-             .medium-3.cell
//-                 .form--input-select
//-                     .switch.tiny
//-                             label.switch-value(for='switchB-2')
//-                                 | Show
//-                             input#switchB-2.switch-input(type='checkbox', name='switchB-2')
//-                             label.switch-paddle(for='switchB-2')
//-                                 span.show-for-sr Edit Mode
//-                                 span.switch-active(aria-hidden='true')
//-                                     i.material-icons.md-14(aria-hidden='true') visibility
//-                                 span.switch-inactive(aria-hidden='true')
//-                                     i.material-icons.md-14(aria-hidden='true') visibility_off
//-             .medium-3.cell
//-                 .form--input-select
//-                     label
//-                         | Options
//-                     select(required='')
//-                         option(value='volvo') One
//-                         option(value='saab') Two
//-                         option(value='mercedes') Three
//-             .medium-3.cell
//-                 .form--input-select
//-                     label
//-                         | Options
//-                     select(required='')
//-                         option(value='volvo') One
//-                         option(value='saab') Two
//-                         option(value='mercedes') Three

//- #card-id-3.card--element-operator.-is-selected.card(data-micro-interaction="card")
//-     .card-divider
//-         .grid-x
//-             .card-title.cell.small-10
//-                 .icon
//-                     i.material-icons.md-18 mode_edit
//-                 .text
//-                     | Operator
//-             .card-options.small-2
//-                 button.button-option-setting(data-micro-interaction="option")
//-                     span.icon
//-                         i.material-icons.md-18 settings
//-                 button.button-option-drag(data-micro-interaction="card")
//-                     span.icon
//-                         i.material-icons.md-18 drag_handle
//-     .card-section.-is-collapsed
//-         //- h4 This is a card.
//-         p It has an easy to override visual style, and is appropriately subdued.

//- #card-id-5.card--element-node.card(data-micro-interaction="card")
//-     .card-divider
//-         .grid-x
//-             .card-title.cell.small-10
//-                 .icon
//-                     i.material-icons.md-18 change_history
//-                 .text
//-                     | Element Name Here
//-             .card-options.small-2
//-                 button.button-option-setting.-is-expanded(data-micro-interaction="option")
//-                     span.icon
//-                         i.material-icons.md-18 settings
//-                 button.button-option-drag(data-micro-interaction="card")
//-                     span.icon
//-                         i.material-icons.md-18 drag_handle
//-     .card-section.-is-expanded
//-         .grid-x
//-             .cell
//-                 p It has an easy to override visual style, and is appropriately subdued.
//-             .medium-3.cell
//-                 .form--input-select
//-                     .switch.tiny
//-                             label.switch-value(for='switchB-1')
//-                                 | Show
//-                             input#switchB-1.switch-input(type='checkbox', name='switchB-1')
//-                             label.switch-paddle(for='switchB-1')
//-                                 span.show-for-sr Edit Mode
//-                                 span.switch-active(aria-hidden='true')
//-                                     i.material-icons.md-14(aria-hidden='true') visibility
//-                                 span.switch-inactive(aria-hidden='true')
//-                                     i.material-icons.md-14(aria-hidden='true') visibility_off


//- #card-id-6.card--element-operator.-is-selected.card(data-micro-interaction="card")
//-     .card-divider
//-         .grid-x
//-             .card-title.cell.small-10
//-                 .icon
//-                     i.material-icons.md-18 mode_edit
//-                 .text
//-                     | Operator
//-             .card-options.small-2
//-                 button.button-option-setting(data-micro-interaction="option")
//-                     span.icon
//-                         i.material-icons.md-18 settings
//-                 button.button-option-drag(data-micro-interaction="card")
//-                     span.icon
//-                         i.material-icons.md-18 drag_handle
//-     .card-section.-is-collapsed
//-         .grid-x
//-             .cell
//-                 p It has an easy to override visual style, and is appropriately subdued.

//- #card-id-4.card--element-node.-is-indented-2.card(data-micro-interaction="card")
//-     .card-divider
//-         .grid-x
//-             .card-title.cell.small-10
//-                 .icon
//-                     i.material-icons.md-18 change_history
//-                 .text
//-                     | Element Name Here
//-             .card-options.small-2
//-                 button.button-option-setting.-is-expanded(data-micro-interaction="option")
//-                     span.icon
//-                         i.material-icons.md-18 settings
//-                 button.button-option-drag(data-micro-interaction="card")
//-                     span.icon
//-                         i.material-icons.md-18 drag_handle
//-     .card-section.-is-expanded
//-         .grid-x
//-             .medium-3.cell
//-                 .form--input-select
//-                     .switch.tiny
//-                             label.switch-value(for='switchC-1')
//-                                 | Show
//-                             input#switchC-1.switch-input(type='checkbox', name='switchC-1')
//-                             label.switch-paddle(for='switchC-1')
//-                                 span.show-for-sr Edit Mode
//-                                 span.switch-active(aria-hidden='true')
//-                                     i.material-icons.md-14(aria-hidden='true') visibility
//-                                 span.switch-inactive(aria-hidden='true')
//-                                     i.material-icons.md-14(aria-hidden='true') visibility_off

