#card-id-1.card--element-node.card(data-micro-interaction="card")
    .card-divider
        .grid-x
            .car-title.cell.small-11
                span.icon
                    i.material-icons.md-18 change_history
                span.text
                    | Element Name Here
            .card-options.small-1
                button(data-micro-interaction="button")
                    .icon
                        i.material-icons.md-18 zoom_out_map
                button(data-micro-interaction="card")
                    .icon
                        i.material-icons.md-18 zoom_out_map
    .card-section
        //- h4 This is a card.
        p It has an easy to override visual style, and is appropriately subdued.

#card-id-2.card--element-node.-is-selected.card(data-micro-interaction="card")
    .card-divider
        | Card Header
    //-img(src='https://via.placeholder.com/350x150')
    .card-section
        //- h4 This is a card.
        p It has an easy to override visual style, and is appropriately subdued.

#card-id-3.card--element-operator.-is-selected.card(data-micro-interaction="card")
    .card-divider
        | Card Header
    //-img(src='https://via.placeholder.com/350x150')
    .card-section
        //- h4 This is a card.
        p It has an easy to override visual style, and is appropriately subdued.
