ul.feature--draggable_items
    li.feature--draggable_items-item.-is-bookmarked 
        a.feature--draggable_items-link
                span.icon-l
                        i.material-icons.md-18 link
                span.text This Long OneThis Long OneThis Long One (long)
                span.icon-r
                        i.material-icons.md-18 drag_handle
        div.context Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    li.feature--draggable_items-item.-is-selected 
        a.feature--draggable_items-link
                span.icon-l
                        i.material-icons.md-18 link
                span.text This Long One (selected)
                span.icon-r
                        i.material-icons.md-18 drag_handle
        div.context Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    li.feature--draggable_items-item
        a.feature--draggable_items-link
                span.icon-l
                        //- i.material-icons.md-18 link
                        i.fa.fa-chain-broken
                span.text This Long One
                span.icon-r
                        i.material-icons.md-18 drag_handle
        div.context Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    li.feature--draggable_items-item.-is-bookmarked
        a.feature--draggable_items-link
                span.icon-l
                        i.material-icons.md-18 link
                span.text This Long One (bookmarked)
                span.icon-r
                        i.material-icons.md-18 drag_handle
        div.context Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    li.feature--draggable_items-item.-is-bookmarked
        a.feature--draggable_items-link
                span.icon-l
                        i.material-icons.md-18 link
                span.text This Long One (bookmark, slectd)
                span.icon-r
                        i.material-icons.md-18 drag_handle
        div.context Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    li.feature--draggable_items-item
        a.feature--draggable_items-link
                span.icon-l
                        i.fa.fa-chain-broken
                        //- i.material-icons.md-18 link
                span.text This Long One
                span.icon-r
                        i.material-icons.md-18 drag_handle
        div.context Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    li.feature--draggable_items-item.-is-bookmarked
        a.feature--draggable_items-link
                span.icon-l
                        i.material-icons.md-18 link
                span.text This Long One
                span.icon-r
                        i.material-icons.md-18 drag_handle
        div.context Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    li.feature--draggable_items-item
        a.feature--draggable_items-link
                span.icon-l
                        i.material-icons.md-18 link
                span.text This Long One
                span.icon-r
                        i.material-icons.md-18 drag_handle
        div.context Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    li.feature--draggable_items-item
        a.feature--draggable_items-link
                span.icon-l
                        i.material-icons.md-18 link
                span.text This Long One
                span.icon-r
                        i.material-icons.md-18 drag_handle
        div.context Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    li.feature--draggable_items-item
        a.feature--draggable_items-link
                span.icon-l
                        i.material-icons.md-18 link
                span.text This Long One
                span.icon-r
                        i.material-icons.md-18 drag_handle
        div.context Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    li.feature--draggable_items-item
        a.feature--draggable_items-link
                span.icon-l
                        i.material-icons.md-18 link
                span.text This Long One
                span.icon-r
                        i.material-icons.md-18 drag_handle
        div.context Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    li.feature--draggable_items-item
        a.feature--draggable_items-link
                span.icon-l
                        i.material-icons.md-18 link
                span.text This Long One
                span.icon-r
                        i.material-icons.md-18 drag_handle
        div.context Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    li.feature--draggable_items-item
        a.feature--draggable_items-link
                span.icon-l
                        i.material-icons.md-18 link
                span.text This Long One
                span.icon-r
                        i.material-icons.md-18 drag_handle
        div.context Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    li.feature--draggable_items-item
        a.feature--draggable_items-link
                span.icon-l
                        i.material-icons.md-18 link
                span.text This Long One
                span.icon-r
                        i.material-icons.md-18 drag_handle
        div.context Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    li.feature--draggable_items-item
        a.feature--draggable_items-link
                span.icon-l
                        i.material-icons.md-18 link
                span.text This Long One 90
                span.icon-r
                        i.material-icons.md-18 drag_handle
        div.context Lorem ipsum dolor sit amet, consectetur adipiscing elit.  
    li.feature--draggable_items-item
        a.feature--draggable_items-link
                span.icon-l
                        i.material-icons.md-18 link
                span.text This Long One 90
                span.icon-r
                        i.material-icons.md-18 drag_handle
        div.context Lorem ipsum dolor sit amet, consectetur adipiscing elit.  
    li.feature--draggable_items-item
        a.feature--draggable_items-link
                span.icon-l
                        i.material-icons.md-18 link
                span.text This Long One 90
                span.icon-r
                        i.material-icons.md-18 drag_handle
        div.context Lorem ipsum dolor sit amet, consectetur adipiscing elit.  
    li.feature--draggable_items-item
        a.feature--draggable_items-link
                span.icon-l
                        i.material-icons.md-18 link
                span.text This Long One 90
                span.icon-r
                        i.material-icons.md-18 drag_handle
        div.context Lorem ipsum dolor sit amet, consectetur adipiscing elit.  
    li.feature--draggable_items-item
        a.feature--draggable_items-link
                span.icon-l
                        i.material-icons.md-18 link
                span.text This Long One 90
                span.icon-r
                        i.material-icons.md-18 drag_handle
        div.context Lorem ipsum dolor sit amet, consectetur adipiscing elit.  
    li.feature--draggable_items-item
        a.feature--draggable_items-link
                span.icon-l
                        i.material-icons.md-18 link
                span.text This Long One 90
                span.icon-r
                        i.material-icons.md-18 drag_handle
        div.context Lorem ipsum dolor sit amet, consectetur adipiscing elit.  
    li.feature--draggable_items-item
        a.feature--draggable_items-link
                span.icon-l
                        i.material-icons.md-18 link
                span.text This Long One 90
                span.icon-r
                        i.material-icons.md-18 drag_handle
        div.context Lorem ipsum dolor sit amet, consectetur adipiscing elit.  
    li.feature--draggable_items-item
        a.feature--draggable_items-link
                span.icon-l
                        i.material-icons.md-18 link
                span.text This Long One 90
                span.icon-r
                        i.material-icons.md-18 drag_handle
        div.context Lorem ipsum dolor sit amet, consectetur adipiscing elit.  
    li.feature--draggable_items-item
        a.feature--draggable_items-link
                span.icon-l
                        i.material-icons.md-18 link
                span.text This Long One 90
                span.icon-r
                        i.material-icons.md-18 drag_handle
        div.context Lorem ipsum dolor sit amet, consectetur adipiscing elit.  
    li.feature--draggable_items-item
        a.feature--draggable_items-link
                span.icon-l
                        i.material-icons.md-18 link
                span.text This Long One 90
                span.icon-r
                        i.material-icons.md-18 drag_handle
        div.context Lorem ipsum dolor sit amet, consectetur adipiscing elit.  
    li.feature--draggable_items-item
        a.feature--draggable_items-link
                span.icon-l
                        i.material-icons.md-18 link
                span.text This Long One 90
                span.icon-r
                        i.material-icons.md-18 drag_handle
        div.context Lorem ipsum dolor sit amet, consectetur adipiscing elit.  
    li.feature--draggable_items-item
        a.feature--draggable_items-link
                span.icon-l
                        i.material-icons.md-18 link
                span.text This Long One 90
                span.icon-r
                        i.material-icons.md-18 drag_handle
        div.context Lorem ipsum dolor sit amet, consectetur adipiscing elit.  
    li.feature--draggable_items-item
        a.feature--draggable_items-link
                span.icon-l
                        i.material-icons.md-18 link
                span.text This Long One 90
                span.icon-r
                        i.material-icons.md-18 drag_handle
        div.context Lorem ipsum dolor sit amet, consectetur adipiscing elit.  
    li.feature--draggable_items-item
        a.feature--draggable_items-link
                span.icon-l
                        i.material-icons.md-18 link
                span.text This Long One 90
                span.icon-r
                        i.material-icons.md-18 drag_handle
        div.context Lorem ipsum dolor sit amet, consectetur adipiscing elit.  
    li.feature--draggable_items-item
        a.feature--draggable_items-link
                span.icon-l
                        i.material-icons.md-18 link
                span.text This Long One 90
                span.icon-r
                        i.material-icons.md-18 drag_handle
        div.context Lorem ipsum dolor sit amet, consectetur adipiscing elit.  
    li.feature--draggable_items-item
        a.feature--draggable_items-link
                span.icon-l
                        i.material-icons.md-18 link
                span.text This Long One 90
                span.icon-r
                        i.material-icons.md-18 drag_handle
        div.context Lorem ipsum dolor sit amet, consectetur adipiscing elit.  
    li.feature--draggable_items-item
        a.feature--draggable_items-link
                span.icon-l
                        i.material-icons.md-18 link
                span.text This Long One 90
                span.icon-r
                        i.material-icons.md-18 drag_handle
        div.context Lorem ipsum dolor sit amet, consectetur adipiscing elit.  
    li.feature--draggable_items-item
        a.feature--draggable_items-link
                span.icon-l
                        i.material-icons.md-18 link
                span.text This Long One 90
                span.icon-r
                        i.material-icons.md-18 drag_handle
        div.context Lorem ipsum dolor sit amet, consectetur adipiscing elit.  
    li.feature--draggable_items-item
        a.feature--draggable_items-link
                span.icon-l
                        i.material-icons.md-18 link
                span.text This Long One 90
                span.icon-r
                        i.material-icons.md-18 drag_handle
        div.context Lorem ipsum dolor sit amet, consectetur adipiscing elit.  
    li.feature--draggable_items-item
        a.feature--draggable_items-link
                span.icon-l
                        i.material-icons.md-18 link
                span.text This Long One 90
                span.icon-r
                        i.material-icons.md-18 drag_handle
        div.context Lorem ipsum dolor sit amet, consectetur adipiscing elit.  
    li.feature--draggable_items-item
        a.feature--draggable_items-link
                span.icon-l
                        i.material-icons.md-18 link
                span.text This Long One 90
                span.icon-r
                        i.material-icons.md-18 drag_handle
        div.context Lorem ipsum dolor sit amet, consectetur adipiscing elit.  
    li.feature--draggable_items-item
        a.feature--draggable_items-link
                span.icon-l
                        i.material-icons.md-18 link
                span.text This Long One 90
                span.icon-r
                        i.material-icons.md-18 drag_handle
        div.context Lorem ipsum dolor sit amet, consectetur adipiscing elit.  
    li.feature--draggable_items-item
        a.feature--draggable_items-link
                span.icon-l
                        i.material-icons.md-18 link
                span.text This Long One 90
                span.icon-r
                        i.material-icons.md-18 drag_handle
        div.context Lorem ipsum dolor sit amet, consectetur adipiscing elit.  
    li.feature--draggable_items-item
        a.feature--draggable_items-link
                span.icon-l
                        i.material-icons.md-18 link
                span.text This Long One 90
                span.icon-r
                        i.material-icons.md-18 drag_handle
        div.context Lorem ipsum dolor sit amet, consectetur adipiscing elit.  
    li.feature--draggable_items-item
        a.feature--draggable_items-link
                span.icon-l
                        i.material-icons.md-18 link
                span.text This Long One 90
                span.icon-r
                        i.material-icons.md-18 drag_handle
        div.context Lorem ipsum dolor sit amet, consectetur adipiscing elit.  
    li.feature--draggable_items-item
        a.feature--draggable_items-link
                span.icon-l
                        i.material-icons.md-18 link
                span.text Quib quib
                span.icon-r
                        i.material-icons.md-18 drag_handle
        div.context Lorem ipsum dolor sit amet, consectetur adipiscing elit.  
