.content--prompt.callout(data-closable).warning
    .grid-x.grid-padding-x
        .icon.cell.small-1
            span.icon
                i.material-icons.md-24 error
        .text.cell.small-10
            span.text
                | This is an example of individual prompt for a particular user interaction. 
                //- ul
                    li test 1
                    li test 1
                    li test 1
                    li test 1 test test longer
        .btn.cell.small-1
            button.close-button(aria-label='Dismiss alert', type='button', data-close='')
                i.material-icons.md-18 close