form(data-abide='7v3wyo-abide', novalidate='')
.grid-x
    .cell.small-6
        .form--input-text.-is-required
            label
                | ID
            input(type='text', placeholder='1234', value='78788', aria-describedby='exampleHelpText', required='', pattern='number')
            span.form-error
                | Yo, you had better fill this out, it's required.

    .cell.small-6
        .form--input-text
            label
                | Internal Code
            input(type='text', placeholder="Use me, or don't",value='78788', aria-describedby='exampleHelpTex', data-abide-ignore='')

    .cell
        .form--input-text
            label
                | Title
            input(type='text', placeholder="Use me, or don't", aria-describedby='exampleHelpTex', data-abide-ignore='')

h7.title-properties Major Categories
form(data-abide='7v3wyo-abide', novalidate='')
    .cell
        .form--input-text.-is-required
            label
                | Name
            input(type='text', placeholder='1234', aria-describedby='exampleHelpText', required='', pattern='number')
            span.form-error
                | Yo, you had better fill this out, it's required.

    .cell
        .form--input-text
            label
                | Shortname
            input(type='text', placeholder="Use me, or don't", aria-describedby='exampleHelpTex', data-abide-ignore='')

h7.title-properties Minor Categories
form(data-abide='7v3wyo-abide', novalidate='')
    .cell
        .form--input-text.-is-required
            label
                | Name
            input(type='text', placeholder='1234', aria-describedby='exampleHelpText', required='', pattern='number')
            span.form-error
                | Yo, you had better fill this out, it's required.

    .cell
        .form--input-text
            label
                | Shortname
            input(type='text', placeholder="Use me, or don't", aria-describedby='exampleHelpTex', data-abide-ignore='')