h7.title-properties Table
form(data-abide='7v3wyo-abide', novalidate='')

    .cell
        .form--input-text
            label
                | ID:
            input(type='text', placeholder='1234', aria-describedby='exampleHelpText', required='', pattern='number')
            span.form-error
                | Yo, you had better fill this out, it's required.

    .cell
        .form--input-text.inline
            label
                | Input 2
            input(type='text', placeholder="Use me, or don't", aria-describedby='exampleHelpTex', data-abide-ignore='')

    .cell
        h7.title-properties Visibility
    .cell
        .form--input-text.inline
            .switch.tiny
                    label.switch-value(for='swtich-active')
                        | Show as Navigation
                    input#swtich-active.switch-input(type='checkbox', name='exampleSwitch')
                    label.switch-paddle(for='swtich-active')
                        span.show-for-sr Edit Mode
                        span.switch-active(aria-hidden='true')
                            | yes
                        span.switch-inactive(aria-hidden='true')
                            | no



    .cell
        .form--input-text.inline
            .switch.tiny
                    label.switch-value(for='swtich-active2')
                        | Show as Tab
                    input#swtich-active2.switch-input(type='checkbox', name='exampleSwitch2')
                    label.switch-paddle(for='swtich-active2')
                        span.show-for-sr Edit Mode
                        span.switch-active(aria-hidden='true')
                            | yes
                        span.switch-inactive(aria-hidden='true')
                            | no


    .cell
        .form--input-select.-is-required
            label
                | Cars:
            select(required='')
                option(value='volvo') Volvo
                option(value='saab') Saab
                option(value='mercedes') Mercedes 
                option(value='audi') Audi