.feature--tabs.grid.collapse
    .feature--tabs-list.medium-3.cell
        ul#example-tabsA.tabs(data-tabs="",data-deep-link="true")
            li.tabs-title.-is-editable.is-active
                .tab-icons
                    span.item-icon
                        i.material-icons.md-14(aria-hidden='true') assignment_turned_in
                    //- span.item-id 555
                    span.status-icon
                        //- i.material-icons.md-14(aria-hidden='true') mode_edit 
                    span.tab-icon-close
                        i.material-icons.md-14(aria-hidden='true') close 
                a(href="#panelA-1", aria-selected="true") 

                    //- span.icon
                        i.material-icons.md-12(aria-hidden='true') view_module
                    span.text Profile
            li.tabs-title
                .tab-icons
                    span.item-icon
                        i.material-icons.md-14(aria-hidden='true') cloud_upload
                    //- span.item-id 555
                    span.status-icon
                        //- i.material-icons.md-14(aria-hidden='true') mode_edit 
                    span.tab-icon-close
                        i.material-icons.md-14(aria-hidden='true') close 
                a(href="#panelA-2", aria-selected="true") 

                    //- span.icon
                        i.material-icons.md-12(aria-hidden='true') view_module
                    span.text Users
            li.tabs-title
                .tab-icons
                    span.item-icon
                        i.material-icons.md-14(aria-hidden='true') supervisor_account
                    //- span.item-id 555
                    span.status-icon
                        //- i.material-icons.md-14(aria-hidden='true') mode_edit 
                    span.tab-icon-close
                        i.material-icons.md-14(aria-hidden='true') close 
                a(href="#panelA-3", aria-selected="true") 

                    //- span.icon
                        i.material-icons.md-12(aria-hidden='true') view_module
                    span.text CDD

            li.tabs-title
                .tab-icons
                    span.item-icon
                        i.material-icons.md-14(aria-hidden='true') bubble_chart
                    //- span.item-id 555
                    span.status-icon
                        //- i.material-icons.md-14(aria-hidden='true') mode_edit 
                    span.tab-icon-close
                        i.material-icons.md-14(aria-hidden='true') close 
                a(href="#panelA-4", aria-selected="true") 

                    //- span.icon
                        i.material-icons.md-12(aria-hidden='true') view_module
                    span.text TDD

            li.tabs-title
                .tab-icons
                    span.item-icon
                        i.material-icons.md-14(aria-hidden='true') build
                    //- span.item-id 555
                    span.status-icon
                        //- i.material-icons.md-14(aria-hidden='true') mode_edit 
                    span.tab-icon-close
                        i.material-icons.md-14(aria-hidden='true') close 
                a(href="#panelA-5", aria-selected="true") 

                    //- span.icon
                        i.material-icons.md-12(aria-hidden='true') view_module
                    span.text Publish




        .tabs-content(data-tabs-content="example-tabsA").-is-editable
        
            #panelA-1.tabs-panel.is-active
                .grid-y.content--tab 
                    .cell.small-1.workspace--options
                        p.h7.blurb.small Instructions: Project: Lorem ipsum dolor sit amet, consectetur 
                        button
                            .icon
                                i.material-icons.md-18 settings

                    .cell.small-10.medium-cell-block-y.workspace--form
                            form(data-abide='7v3wyo-abide', novalidate='')
                                .grid-x.grid-padding-x
                                    .cell.small-6
                                        .grid-y
                                            .cell

                                                .form--input-text.-is-required

                                                    label
                                                        | Name:
                                                    span.text-mirror.-is-hidden(data-micro-interaction-type="mirror")
                                                        | *Black Hole Is a Hole That Is Black and Possessive abuot Light
                                                    input(type='text', placeholder='1234', aria-describedby='exampleHelpText', required='', disabled, pattern='number', value="Black Hole Is a Hole That Is Black and Possessive abuot Light")
                                                    span.form-error
                                                        | A name of the new create is required.
                                                    //- p#exampleHelpText.help-text.-has-error Any help information (what is restricted or allow with name input)
                                            .cell
                                                .form--input-select
                                                    label
                                                        | Status:
                                                    select(required='', disabled)
                                                        option(value='option1') Draft
                                                        option(value='option2') option 2
                                                        option(value='option3') option 3
                                                        option(value='option4') option 4
                                            .cell.small-4

                                                .grid-x.grid-padding-x       
                                                    .cell.small-6                                
                                                        .form--input-select
                                                            label
                                                                | Registery:
                                                            select(required='')
                                                                option(value='option1') option 1
                                                                option(value='option2') option 2
                                                                option(value='option3') option 3
                                                                option(value='option4') option 4

                                                    .cell.small-6

                                                        .form--input-select
                                                            label
                                                                | Verison:
                                                            select(required='')
                                                                option(value='option1') option 1
                                                                option(value='option2') option 2
                                                                option(value='option3') option 3
                                                                option(value='option4') option 4

                                            .cell
                                                .form--input-text
                                                    label
                                                        | Start Date:
                                                    input(type='text', disabled, placeholder='phrase', aria-describedby='exampleHelpText', required='', pattern='date', value="10/5/2017").disabled
                                                    span.form-error
                                                        | Date is required




                                    .cell.small-6
                                        .grid-y
                                            .cell
                                                .form--input-text.-is-required
                                                    label
                                                        | Description:
                                                    textarea(rows='4', cols='50').taller
                                                        | A black hole is a region of spacetime exhibiting such strong gravitational effects that nothing—not even particles and electromagnetic radiation such as light—can escape from inside it. The theory of general relativity predicts that a sufficiently compact mass can deform spacetime to form a black hole.")
                                                    span.form-error
                                                        | A description of the new create is required.
                                                    //- p#exampleHelpText.help-text.-has-error Any help information (what is restricted or allow with description input)

                                            .cell
                                                .form--input-text
                                                    label
                                                        | Tags:
                                                    input(type='text', placeholder='phrase', aria-describedby='exampleHelpText', value="nasa space blackhole")
                                                    span.form-error
                                                        | Tags are useful for stuff

                                    .cell
                                        .form--input-text
                                            label Users:

                                            //- button.button.button--users(data-tooltip="gdfnq7-tooltip", aria-haspopup="true", data-disable-hover="false", tabindex="1", title="", aria-describedby="hikmyv-tooltip", data-yeti-box="hikmyv-tooltip", data-toggle="hikmyv-tooltip", data-resize="hikmyv-tooltip", data-events="resize")
                                                i.material-icons.md-18(aria-hidden='true') settings				

                                            ul.list--users
                                                li.list--user-item
                                                    span.user-badge.small.has-tip.top(data-tooltip="gdfnq7-tooltip", aria-haspopup="true", data-disable-hover="false", tabindex="1", title="", aria-describedby="hikmyv-tooltip", data-yeti-box="hikmyv-tooltip", data-toggle="hikmyv-tooltip", data-resize="hikmyv-tooltip", data-events="resize")
                                                        span.user-name S. Fulllastname
                                                        i.material-icons.md-18(aria-hidden='true', data-open='modal--users-deletion') delete				
                                                li.list--user-item
                                                    span.user-badge.small.has-tip.top(data-tooltip="gdfnq7-tooltip", aria-haspopup="true", data-disable-hover="false", tabindex="1", title="", aria-describedby="hikmyv-tooltip", data-yeti-box="hikmyv-tooltip", data-toggle="hikmyv-tooltip", data-resize="hikmyv-tooltip", data-events="resize")
                                                        //- i.material-icons.md-18(aria-hidden='true') account_box				
                                                        span.user-name J. Brown
                                                        i.material-icons.md-18(aria-hidden='true', data-open='modal--users-deletion') delete	
                                                li.list--user-item
                                                    a.button.button--label(data-tooltip="gdfnq7-tooltip", aria-haspopup="true", data-disable-hover="false", tabindex="1", title="", aria-describedby="hikmyv-tooltip", data-yeti-box="hikmyv-tooltip", data-toggle="hikmyv-tooltip", data-resize="hikmyv-tooltip", data-events="resize")
                                                        i.material-icons.md-18(aria-hidden='true',data-open='modal--users-addition') add_box	
                    .cell.workspace--controls
                        .panel--center-bottom-controls.float-right
                            button.button.warning(data-micro-interaction="toggle")
                                | Save & Pin
                            button.button.success(data-micro-interaction="toggle")
                                | Save
                            button.button.alert(data-micro-interaction="toggle")
                                | Cancel
            #panelA-2.tabs-panel
                .grid-y.content--tab 
                    .cell.small-1.workspace--options
                        .grid-x
                            .cell.small-10
                                //- i.material-icons.md-18 info
                                p.h7.blurb.small.txt-help 
                                    | Instructions: Search a user and and to project
                                //- .form--input-text
                                    label.-is-hidden
                                        | Search and Add
                                    input(type='text', placeholder='enter user name', aria-describedby='exampleHelpText', required='', pattern='number')
                            .cell.small-2  

                                button
                                    .icon
                                        i.material-icons.md-18 info

                    .cell.small-10.medium-cell-block-y.workspace--form
                            table#data--table-search.data--table-inside-tab.display(cellspacing='0', width='100%')
                                thead
                                    tr
                                        th Frist Name
                                        th Last Name
                                        th Role
                                        th User
                                        th Email
                                //- tfoot
                                    tr
                                        th Frist Name
                                        th Last Name
                                        th Role
                                        th User
                                        th Email
                                tbody
                                    tr
                                        td John
                                        td Dude
                                        td President
                                        td jd
                                        td jd@email.de
                                    tr
                                        td John
                                        td Dude
                                        td President
                                        td jd
                                        td jd@email.de
                                    tr
                                        td John
                                        td Dude
                                        td President
                                        td jd
                                        td jd@email.de
                                    tr
                                        td John
                                        td Dude
                                        td President
                                        td jd
                                        td jd@email.de
                                    tr
                                        td John
                                        td Dude
                                        td President
                                        td jd
                                        td jd@email.de
                                    tr
                                        td John
                                        td Dude
                                        td President
                                        td jd
                                        td jd@email.de
                    .cell.workspace--controls
                        .panel--center-bottom-controls.float-right
                            button.button.success(data-micro-interaction="toggle")
                                //- .icon
                                    i.material-icons.md-18 search
                                .text
                                    | Search
                            //- button.button.success(data-micro-interaction="toggle")
                                | Save
                            //- button.button.alert(data-micro-interaction="toggle")
                                | Cancel
            #panelA-3.tabs-panel
                .grid-y.content--tab 
                    .cell.small-1.workspace--options
                        p.h7.blurb.small Instructions: Project: Lorem ipsum dolor sit amet, consectetur 
                        button
                            .icon
                                i.material-icons.md-18 settings

                    .cell.small-10.medium-cell-block-y.workspace--form
                        .grid-x.grid-padding-x
                            .small-3
                                .content--tab-nav
                                    h5 Actions
                                    a.button.button--tab-nav.small(href="#")
                                        .icon
                                            i.material-icons.md-24 view_module
                                        .txt Registries
                                    a.button.button--tab-nav.small(href="#")
                                        .icon
                                            i.material-icons.md-24 view_module
                                        .txt Registries
                                    a.button.button--tab-nav.small(href="#")
                                        .icon
                                            i.material-icons.md-24 view_module
                                        .txt Registries
                            .small-9
                                | CDD dashboard

            #panelA-4.tabs-panel
                .grid-y.content--tab 
                    .cell.small-1.workspace--options
                        p.h7.blurb.small Instructions: Project: Lorem ipsum dolor sit amet, consectetur 
                        button
                            .icon
                                i.material-icons.md-18 settings

                    .cell.small-10.medium-cell-block-y.workspace--form
                        .grid-x.grid-padding-x
                            .small-3
                                .content--tab-nav
                                    h5 Actions
                                    a.button.button--tab-nav.small(href="#")
                                        .icon
                                            i.material-icons.md-24 view_module
                                        .txt Registries
                                    a.button.button--tab-nav.small(href="#")
                                        .icon
                                            i.material-icons.md-24 line_style
                                        .txt Registries Elements    
                                    a.button.button--tab-nav.small(href="#")
                                        .icon
                                            i.material-icons.md-24 line_style
                                        .txt Registries Constraints
                            .small-9
                                | TDD dashboard
            #panelA-5.tabs-panel
                .grid-y.content--tab 
                    .cell.small-1.workspace--options
                        p.h7.blurb.small Instructions: Publish projects to different environments etc etc..
                        button
                            .icon
                                i.material-icons.md-18 settings

                    .cell.small-10.medium-cell-block-y.workspace--form
                        .grid-x.grid-padding-x
                            .small-3
                                .content--tab-nav
                                    h5 Actions
                                    a.button.button--tab-nav.small(href="#")
                                        .icon
                                            i.material-icons.md-24 cloud_upload
                                        .txt Publish Summary
                                    a.button.button--tab-nav.small(href="#")
                                        .icon
                                            i.material-icons.md-24 cloud_upload
                                        .txt Publish Preview (Stage)    
                                    a.button.button--tab-nav.small(href="#")
                                        .icon
                                            i.material-icons.md-24 cloud_upload
                                        .txt Publish Summary (Prod)
                                    a.button.button--tab-nav.small.warning(href="#")
                                        .icon
                                            i.material-icons.md-24 publish
                                        .txt Publish Summary DEV
                                    a.button.button--tab-nav.small.warning(href="#")
                                        .icon
                                            i.material-icons.md-24 publish
                                        .txt Publish Summary STAGE
                            .small-9
                                h5 Publish History

                                table#data--table-search.data--table-inside-tab.display(cellspacing='0', width='100%')
                                    thead
                                        tr
                                            th Frist Name
                                            th Last Name
                                            th Role
                                            th User
                                            th Email
                                    //- tfoot
                                        tr
                                            th Frist Name
                                            th Last Name
                                            th Role
                                            th User
                                            th Email
                                    tbody
                                        tr
                                            td John
                                            td Dude
                                            td President
                                            td jd
                                            td jd@email.de
                                        tr
                                            td John
                                            td Dude
                                            td President
                                            td jd
                                            td jd@email.de
                                        tr
                                            td John
                                            td Dude
                                            td President
                                            td jd
                                            td jd@email.de
                                        tr
                                            td John
                                            td Dude
                                            td President
                                            td jd
                                            td jd@email.de
                                        tr
                                            td John
                                            td Dude
                                            td President
                                            td jd
                                            td jd@email.de
                                        tr
                                            td John
                                            td Dude
                                            td President
                                            td jd
                                            td jd@email.de
            