// tree view list (fancy tree)
.fancytree-container li[aria-selected="true"][role="treeitem"],
.fancytree-container tr[aria-selected="true"].fancytree-selected,
.fancytree-container tr[aria-selected="true"].fancytree-active {
    background-color: $palette-color-median !important;

    .fancytree-title {
        color: $color-light !important;
    }

    .material-icons,
    td {
        color: $color-light !important;
    }

    &.success {
        background-color: $color-grass !important;

        .fancytree-title {
            color: $color-light !important;
        }

        .material-icons,
        td {
            color: $color-light !important;
        }
    }

    &.alert {
        background-color: $palette-color-accent !important;

        .fancytree-title {
            color: $color-light !important;
        }

        .material-icons,
        td {
            color: $color-light !important;
        }
    }

    &.warning {
        background-color: $color-heat !important;

        .fancytree-title {
            color: $color-light !important;
        }

        .material-icons,
        td {
            color: $color-light !important;
        }
    }

    &.primary {
        background-color: $palette-color-median !important;

        .fancytree-title {
            color: $color-light !important;
        }

        .material-icons,
        td {
            color: $color-light !important;
        }
    }

    &.secondary {
        background-color: $color-neutral !important;

        .fancytree-title {
            color: $color-light !important;
        }

        .material-icons,
        td {
            color: $color-light !important;
        }
    }

    &.-is-new {
        span.fancytree-title::after {
            margin-left: .25em;
            font-family: 'Material Icons';
            font-size: .75em;
            content: "new_releases";
            -webkit-font-feature-settings: 'liga';

        }
    }

    &.-is-touched {
        span.fancytree-title::after {
            margin-left: .25em;
            font-family: 'Material Icons';
            font-size: .75em;
            content: "border_color";
            -webkit-font-feature-settings: 'liga';

        }
    }
}

.fancytree-container li[aria-selected],
.fancytree-container tr[aria-selected] {
    &.-is-new {
        span.fancytree-title::after {
            margin-left: .25em;
            font-family: 'Material Icons';
            font-size: .75em;
            content: "new_releases";
            -webkit-font-feature-settings: 'liga';

        }
    }

    &.-is-touched {
        span.fancytree-title::after {
            margin-left: .25em;
            font-family: 'Material Icons';
            font-size: .75em;
            content: "border_color";
            -webkit-font-feature-settings: 'liga';

        }
    }

    &.-was-selected {
        background-color: rgba($palette-color-median, 0.15) !important;

        .fancytree-title {
            color: $palette-color-darken !important;
        }

        .material-icons,
        td {
            color: $palette-color-darken !important;
        }
    }
}


.fancytree-disabled>.fancytree-node .fancytree-title {
    color: $color-neutral-light !important;
    cursor: not-allowed; // background-color: $palette-color-median !important;
}

.fancytree-disabled {

    // .fancytree-title {
    //     color: $color-neutral-light !important;
    //     cursor: not-allowed; // background-color: $palette-color-median !important;
    // }
    .material-icons,
    span[role="presentation"] {
        color: $color-neutral-light !important;
    }
}