.composer--grid.-is-selected {
    border-color: $color-grass;

    .composer--grid-cell {
        // border-right-color: $color-grass;
    }
}

.composer--grid {
    .composer--grid-cell.-is-selected {
        background-color: $color-light;
        border-width: $border-thin;
        border-color: $color-twinkle; // background-color: $palette-color-median;
    }

    .composer--grid-cell:hover {
        border: $border-skinny dashed $color-twinkle;
        background: rgba($color-neutral-medium, .25);
        background-size: 20% 100%;

        // background-image: linear-gradient(to right, $color-white $border-skinny, transparent $border-skinny);

        &.-is-selected {
            border: $border-skinny dashed $color-twinkle;

            background: $color-twinkle;
        }
    }
}