.composer--grid.-is-selected {
    border-color: $color-grass;

    .composer--grid-cell {
        // border-right-color: $color-grass;
    }
}

.composer--grid {
    .composer--grid-cell.-is-selected {
        background-color: $color-light;
        border-color: $color-grass; // background-color: $palette-color-median;
    }

    .composer--grid-cell:hover {
        border: $border-skinny dashed $color-twinkle;
        background: rgba($color-neutral-medium, .25);
        // border-right: none;

        &.-is-selected {
            border: $border-skinny dashed $color-twinkle;

            background: $color-twinkle;
        }
    }
}