.-is-hidden {
    display: none;
}

.-is-off .button {
    background-color: $palette-color-base;
}

.-is-on .button {
    background-color: $palette-color-accent;
}

.is-similar {
    color: $palette-color-accent;
}

.-is-not-selected {}

.-is-selected {
    color: $palette-color-darken;

    a {
        color: $palette-color-darken;
        background-color: $palette-color-lightens;
    }

    a.feature--draggable_items-item:hover {
        color: $color-twinkle !important;
    }

    &.panel--side-button button {
        color: #fff;

        .text {
            display: block;
        }
    }
}

.column--list-elements-data {
    .-is-selected {
        a {
            color: $palette-color-lightens;
            background-color: $palette-color-median;
        }
    }
}

.column--list-concepts.cell.medium-2.-is-collapsed-column,
.column--list-properties.cell.medium-2.-is-collapsed-column,
.column--list-elements.cell.medium-2.-is-collapsed-column {
    width: 2em !important;

    h6.panel--center-column-title-text.h7 {
        transform: rotate(90deg);
        transform-origin: top left;
        margin: 2em 0 0 0;
        width: 20em;
    }

    button[data-micro-interaction='collapse'] {
        position: absolute;
        margin-top: -3.19em;
    }
}

.column--list-concepts.cell.medium-2.-is-expanded-column {
    // width: auto !important;
}

.-is-bookmarked {
    a .icon-l i {
        // display: none;
        color: $color-grass;
    }
}

.-is-bookmarked.-is-selected {
    a .icon-l i {
        // display: none;
        color: $color-twinkle;
    }
}

.-is-masked {
    color: $color-neutral;
}

.-is-clicked {
    color: $palette-color-darken;
}

.-is-read {

    .icon,
    .text,
    .btn,
    .title,
    .counter {
        color: $palette-color-median;
    }
}

.-is-unread {

    .icon,
    .text,
    .btn,
    .title,
    .counter {
        color: $palette-color-base;
    }
}

// TODO: refractor is-required styles
.form--input-text.-is-required {
    label:after {
        // position: absolute;
        font-family: 'Material Icons';
        font-size: .75em; // font-size: 1.25em;
        margin-top: -.25em;
        margin-left: .25em;
        content: "star";
        color: $palette-color-accent;
        -webkit-font-feature-settings: 'liga';
    }
}

.form--input-checkbox.-is-required,
.form--input-radio.-is-required {
    legend:after {
        position: absolute;
        font-family: 'Material Icons';
        font-size: 1.25em;
        margin-top: -.25em;
        margin-left: .25em;
        content: "star";
        color: $palette-color-accent;
        -webkit-font-feature-settings: 'liga';
    }
}

// TODO: had class added to parent
.-is-filled {
    border-bottom: none !important;

    &:focus {
        border-bottom: 1px solid red !important;
    }
}

.help-text.-has-error {
    p:after {
        font-family: 'Material Icons';
        font-size: 1.25em;
        margin-top: -.5em;
        content: "error";
        color: $palette-color-accent;
        -webkit-font-feature-settings: 'liga';
    }
}

.-edit-mode-off {
    [disabled] {
        // display: none;
        cursor: auto;
    }

    select {
        border: 1px transparent solid;
    }

    select:disabled {
        background-color: transparent;
        appearance: none;
    }

    textarea {
        border: none;
    }

    li.tabs-title {

        // border-bottom-color: $color-grass;
        .tab-icon {
            display: none;
        }
    }
}

.tabs-title {
    .tab-icons i {
        // background-color: $palette-color-median;
        color: $palette-color-darken;
    }

    &.-is-locked {

        // border-top-color: red;
        .tab-icon i {
            background-color: $palette-color-darken;
            color: $palette-color-lightens;
        }
    }

    &.-is-saved {
        // border-top-color: red;
    }

    &.-is-broken {
        // border-top-color: $palette-color-accent;

        .tab-icons {
            background-color: $palette-color-accent;

            .item-id,
            i {
                color: $color-heat;
            }
        }
    }

    &.-is-editable {
        // border-top-color: $palette-color-median;
        // border-top-color: $color-grass;

        .tab-icons {
            background-color: $color-grass;

            .item-id,
            i {
                color: $color-light;
            }
        }
    }
}

// accordion
ul.accordion li.-is-unsaved {
    .accordion-item .accordion-title {
        border-top-color: lighten($color-heat, 25%);
        color: $color-heat;
    }
}

ul.accordion li.-is-editable {
    .accordion-title {
        border-top-color: lighten($color-grass, 25%);
        color: $color-grass !important;
    }
}

ul.accordion li.-is-broken {
    .accordion-title {
        border-top-color: lighten($palette-color-accent, 25%); // border-top-color: $palette-color-accent;
        color: $palette-color-accent;
    }
}

ul.accordion li.-is-saved {
    .accordion-title {
        // border-top-color: $palette-color-accent;
    }
}

// tabs
.tabs-title.is-active {
    border-right: 1px solid $palette-color-median !important;

    .tab-icons {
        // background-color: $color-light;
        background-color: $palette-color-median;

        .item-id,
        i {
            color: $color-light;
        }
    }

    &.-is-locked {
        .tab-icon i {
            color: $color-morning !important;
        }
    }

    &.-is-saved {
        .tab-icon i {
            background-color: $palette-color-darken;
            color: $color-light;
        }
    }

    &.-is-broken {
        // border-top-color: $palette-color-accent;

        .tab-icons {

            .item-id,
            i {
                color: $color-heat;
            }
        }
    }

    &.-is-editable {

        // border-top-color: $color-grass;
        .tab-icons {

            .item-id,
            i {
                color: $color-grass;
            }
        }

    }
}

.-edit-mode-on {
    &.dashboard---panel-project {
        border-color: $color-grass;
        border-right: none;
    }

    .tabs-content {
        border-right: 1px solid $color-grass;
    }

    .feature--tabs-list ul li:last-child {
        border-right: 1px solid $palette-color-median !important;
    }

    .tabs-content,
    label,
    .tabs-title.is-active,
    .tabs-title.is-active a {
        // background-color: $color-twinkle;
        // background-color: $palette-color-lightens; 
        // background-color: $palette-color-median;
        // color: $palette-color-lightens;
    }

    [type='text'],
    [type='password'],
    [type='date'],
    [type='datetime'],
    [type='datetime-local'],
    [type='month'],
    [type='week'],
    [type='email'],
    [type='number'],
    [type='search'],
    [type='tel'],
    [type='time'],
    [type='url'],
    [type='color'],
    textarea {
        // background-color: $-copalettelor-lightens;
        border-bottom: 1px solid $color-grass !important;
    }

    textarea {
        // background-color: $-copalettelor-lightens;
        border-right: 1px solid $color-grass;
    }

    select {
        border: 1px solid $color-grass;
    }

    li.tabs-title.-is-editable {
        border-top-color: $color-grass;
        border-right-color: $color-grass;

        *[data-micro-interaction="mode"] {
            display: none;
        }
    }

    li.tabs-title {
        border-bottom-color: $color-grass;

        .icon {
            // display: block;
            position: absolute; // float: right;
            // background: #3adb76;
            padding: .025em .25em .025em .25em; // color: $palette-color-base;
        }
    }

    li.tabs-title:last-child {
        // border-right-color: $palette-color-darken !important;
    }

    li.tabs-title.is-active {
        *[data-micro-interaction] {
            display: block;
        }
    }

    input:checked~.switch-paddle {
        background: $color-grass;
    }
}

.-is-in-inverse-mode {}

.-is-green {
    color: $color-grass !important;

    a,
    i {
        color: $color-grass !important;
    }
}

.-is-green+.feature--filter-input {
    border-bottom-color: $color-grass;
}

.fancytree-selected {
    color: $color-light !important;
    background-color: $palette-color-median !important;

    .material-icons {
        color: $color-light !important;
    }

}

.card--element-node,
.card--element-operator {
    .card-section.-is-expanded {
        display: block;
    }

    .card-section.-is-collapsed {
        display: none;

    }


}

.card--element-node.-is-selected {

    .card-section,
    .card-divider {
        border: $border-thin solid $palette-color-median;
    }

    .card-section {
        background: $palette-color-median;
        color: $palette-color-base;
    }


}

.card--element-node {

    .card-options {
        button.button-option {
            &-setting.-is-expanded .icon i {
                color: $palette-color-median !important;
            }

            &-drag.-is-expanded .icon i {
                color: $palette-color-median !important;
            }
        }
    }

    &.-is-indented-1 {
        width: 80%;
        float: right;
        // margin-left: 18%;
    }


    &.-is-indented-2 {
        width: 60%;
        float: right;

        // margin-left: 28%;
    }

}