.-is-hidden {
  display: none;
}

.-is-off .button {
  background-color: $palette-color-base;
}

.-is-on .button {
  background-color: $palette-color-accent;
}

.is-similar {
  color: $palette-color-accent;
}

.-is-not-selected {}

.-is-selected {
  color: $palette-color-darken;

  a {
    color: $palette-color-darken;
    background-color: $palette-color-lightens;
  }

  a.feature--draggable_items-item:hover {
    color: $color-twinkle !important;
  }

  &.panel--side-button button {
    color: #fff;

    .text {
      display: block;
    }
  }
}

.-is-bookmarked {
  a .icon-l i {
    // display: none;
    color: $color-grass;
  }
}

.-is-bookmarked.-is-selected {
  a .icon-l i {
    // display: none;
    color: $color-twinkle;
  }
}

.-is-masked {
  color: $color-neutral;
}

.-is-clicked {
  color: $palette-color-darken;
}

.-is-read {

  .icon,
  .text,
  .btn,
  .title,
  .counter {
    color: $palette-color-median;
  }
}

.-is-unread {

  .icon,
  .text,
  .btn,
  .title,
  .counter {
    color: $palette-color-base;
  }
}