.card--element-node,
.card--element-operator,
.card--element-group {
    .card-section.-is-expanded {
        display: block;
    }

    .card-section.-is-collapsed {
        display: none;
    }

    .card-section {
        // background: $palette-color-median;
        // color: $palette-color-base;

        .form--input-select,
        .form--input-text {
            label {
                // color: $palette-color-lightens;
            }

            input:checked~.switch-paddle {
                background: $palette-color-median !important;
            }
        }
    }

    &.-is-comfortable {
        .card-title .text {
            // border: 1px solid green;
        }
    }

    &.-is-squeezed,
    &.-is-super-squeezed {

        .-is-expanded {
            width: 85% !important;

            label.switch-paddle {
                // float: left;
                margin-top: .25rem;
            }




        }


        .card-section label,
        .card-section select {
            text-align: left;
        }

        &.card--element-node {
            overflow: visible;
        }

        .card-divider {
            padding-left: 3px;

            .grid-x {
                .card-title {
                    // width: 68%;

                }
            }

        }

        .card-title .text {
            // border: 1px solid red;
            // width: 45%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .card-title:hover {
            .text {
                pointer-events: none;
                // display: none;
                z-index: 99999999999999;
                position: absolute;
                margin-top: .69rem;
                margin-left: 1.55rem;
                /*     border:1px solid red; */
                width: auto !important;
                height: 20px;
                overflow: visible;
                background: $color-white;

            }
        }

        .card-section.-is-expanded .grid-x {
            .cell {
                display: block;
                float: left;
                clear: both;
                // border: 1px solid green;
                width: 100% !important;
                margin-bottom: .25rem;
            }
        }
    }

    &.-is-super-squeezed {

        .-is-expanded {
            padding: 0 0 0 0 !important;

            label.switch-paddle {
                float: left;
                margin-top: .25rem;
            }

            select {
                width: 100%;
            }
        }


    }

}

.card--element-node.-is-selected,
.card--element-group.-is-selected {

    .card-section,
    .card-divider {
        border: $border-thin solid $palette-color-median;
    }

    .card-section {
        background: $palette-color-median;
        color: $palette-color-base;

        .form--input-select,
        .form--input-text {
            label {
                color: $palette-color-lightens;
            }

            input:checked~.switch-paddle {
                background: $palette-color-darken !important;
                // color: $palette-color-median !important;

            }
        }
    }
}

.card--element-node {

    &.success {

        .card-divider {
            border: $border-thin solid $color-grass;
            // background: rgba($color-grass, 0.095);
        }

        .card-section {
            background-color: $color-grass;
            border-color: $color-grass;

            .form--input-select,
            .form--input-text {
                label {
                    color: $palette-color-lightens;
                }

                input:checked~.switch-paddle {
                    background: $palette-color-median;

                }
            }

        }


    }

    &.alert {
        .card-divider {
            border: $border-thin solid $palette-color-accent;
            // background: rgba($palette-color-accent, 0.095);

            .card-title {
                .text {
                    color: $palette-color-accent;
                }

                .icon {
                    color: $palette-color-accent;
                }
            }
        }

        .card-section {
            background-color: $palette-color-accent;
            border-color: $palette-color-accent;


            .form--input-select,
            .form--input-text {
                label {
                    color: $palette-color-lightens;
                }

                input:checked~.switch-paddle {
                    // background: $palette-color-median;

                }
            }

        }
    }


    &.error {
        .card-divider {
            border: $border-thin solid $color-heat;
            // background: rgba($color-heat, 0.095);

            .card-title {
                .text {
                    color: $color-heat;
                }

                .icon {
                    color: $color-heat;
                }
            }
        }

        .card-section {
            background-color: $color-heat;
            border-color: $color-heat;

            .form--input-select,
            .form--input-text {
                label {
                    color: $palette-color-lightens;
                }

                input:checked~.switch-paddle {
                    // background: $palette-color-median;

                }
            }

        }
    }

    &.primary {
        .card-divider {
            border: $border-thin solid $palette-color-darken;
            // background: rgba($palette-color-darken, 0.095);

            .card-title {
                .text {
                    color: $palette-color-darken;
                }

                .icon {
                    color: $palette-color-darken;
                }
            }
        }

        .card-section {
            background-color: $palette-color-darken;
            border-color: $palette-color-darken;

            .form--input-select,
            .form--input-text {
                label {
                    color: $palette-color-lightens;
                }

                input:checked~.switch-paddle {
                    // background: $palette-color-median;

                }
            }

        }
    }

    &.secondary {
        .card-divider {
            border: $border-thin solid $color-morning;
            // background: rgba($color-morning, 0.095);

            .card-title {
                .text {
                    color: $color-morning;
                }

                .icon {
                    color: $color-morning;
                }
            }
        }

        .card-section {
            background-color: $color-morning;
            border-color: $color-morning;

            .form--input-select,
            .form--input-text {
                label {
                    color: $palette-color-lightens;
                }

                input:checked~.switch-paddle {
                    // background: $palette-color-median;

                }
            }

        }
    }


    .card-section {
        // background: $palette-color-median;
        // color: $palette-color-base;

        .form--input-select,
        .form--input-text {
            label {
                // color: $palette-color-lightens;
            }

            input:checked~.switch-paddle {
                background: $color-grass;
            }
        }
    }
}

.card--element-node,
.card--element-group {
    .card-options {
        div.button-option {
            float: right;

        }

        button.button-option {
            float: right;

            &-setting.-is-expanded .icon i {
                color: $palette-color-median !important;
            }

            &-drag.-is-expanded .icon i {
                color: $palette-color-median !important;
            }
        }
    }

    &.-is-indented-0 {
        width: 100%;
        float: right; // margin-left: 18%;
    }

    &.-is-indented-1 {
        width: 80%;
        float: right; // margin-left: 18%;
    }

    &.-is-indented-2 {
        width: 60%;
        float: right; // margin-left: 28%;
    }

    &.-is-indented-3 {
        width: 40%;
        float: right; // margin-left: 18%;
    }

    &.-is-indented-4 {
        width: 20%;
        float: right; // margin-left: 28%;
    }
}