.card--element {
    &-node {
        clear: both;
        font-size: .80rem;
        cursor: pointer;
        border: none;
        margin: .25em 0 1em 0; // background-color: $color-heat;
        background: transparent;

        // width: 100%;
        .card-divider {
            padding: .25em .25em .25em 1em;
            border: $border-thin solid $palette-color-lightens;
            border-radius: .5em;
            background: $color-light;


            .icon {
                display: flex;
                color: $color-morning;
                align-items: center;
                height: 100%;
                float: left;
                margin-right: .5em; // border: 1px solid red;
            }

            .text {
                display: flex;
                overflow: hidden;
                align-items: center;
                font-weight: bold;
                height: 100%;
                // float: left;
                text-align: left;
                white-space: nowrap;
                // position: absolute;
                // margin-top: -.47rem;
                // padding-left: 1.5rem;

            }
        }

        .card-section {
            padding: .25em 1em .25em 1em;
            border: $border-thin solid $palette-color-lightens;
            border-top: none !important;
            margin-left: 1em;
            width: 95%;
            background: $palette-color-lightens;
            border-radius: 0 0 .5em .5em;

            .form--input-select,
            .form--input-text {
                margin: 0 0 0 0;

                label {
                    float: left;
                    width: auto;
                    font-size: .85rem;
                    text-align: right;
                    padding-right: .5em;
                    padding-top: .15rem;
                    margin: 0 0 0 0;

                }

                label.switch-paddle {
                    width: 2.85rem;
                    margin: 0 0 0 0;

                }

                .switch.tiny input:checked~ {
                    .switch-paddle::after {
                        left: 1.8rem;
                    }
                }

                select {
                    float: left;
                    margin: 0 0 0 0;
                    width: auto;
                    height: 1.20rem;
                    padding: 0 1.5rem 0 .5rem;
                    font-size: .85rem;
                    // font-weight: bold;
                    color: $palette-color-median;
                    background-color: $palette-color-lightens;

                }

                .switch {
                    margin: 0 0 0 0;

                    font-weight: lighter;
                }
            }
        }

        .card-options {
            text-align: right;
            padding-top: .25em; // border-left: $border-skinny solid $palette-color-lightens;
        }
    }

    &-operator {
        clear: both;
        font-size: 80%;
        cursor: pointer;
        border: none;
        margin: .25em 1em 1em 1em; // background-color: $color-heat;

        .card-divider {
            padding: .25em .25em .25em 1em;
            // border: $border-thin solid $palette-color-lightens;
            border-radius: .5em;
            background: $color-morning;
            color: $palette-color-lightens;

            .icon {
                display: flex;
                color: $palette-color-base;
                align-items: center;
                height: 100%;
                float: left;
                margin-right: .5em; // border: 1px solid red;
            }

            .text {
                display: flex;
                align-items: center;
                font-weight: bold;
                height: 100%;
                float: left; // margin-top: -12px;
                // border: 1px solid red;
            }

            .card-section {
                padding: .25em 1em .25em 1em;
                border: $border-thin solid $palette-color-lightens;
                border-top: none !important;
                margin-left: 1em;
                width: 95%;
                background: $palette-color-lightens;
                border-radius: 0 0 .5em .5em;
            }

            .card-options {
                text-align: right;
                padding-top: .25em; // border-left: $border-skinny solid $palette-color-lightens;

                .icon i {
                    color: $palette-color-base;
                }

            }
        }
    }


    &-group {
        clear: both;
        font-size: 80%;
        cursor: pointer;
        border: none;
        margin: .25em 1em 1em 1em; // background-color: $color-heat;



        .card-divider {
            padding: .25em .25em .25em 1em;
            // border: $border-thin solid $palette-color-lightens;
            border-radius: .5em;
            background: $color-twinkle;
            color: $palette-color-darken;



            .form--input-select {
                display: inline-block;
                height: 2em;
                margin-bottom: 0;



                .switch .switch-paddle {
                    margin-top: 0px;
                }

                // label {
                //     &:before {
                //         display: inline-block;
                //         content: "{"
                //     }

                //     &:after {
                //         display: inline-block;
                //         content: "{"
                //     }
                // }

            }

            .icon {
                display: flex;
                color: $palette-color-darken;
                align-items: center;
                height: 100%;
                float: left;
                margin-right: .5em; // border: 1px solid red;
            }

            .text {
                display: flex;
                align-items: center;
                font-weight: bold;
                height: 100%;
                float: left;
                // margin-top: -12px;
                // border: 1px solid red;
            }

            .card-options {
                text-align: right;
                padding-top: .25em; // border-left: $border-skinny solid $palette-color-lightens;

                .icon i {
                    color: $palette-color-darken;
                }

            }
        }

        .card-section {
            padding: .25em 1em .25em 1em;
            border: $border-thin solid $palette-color-lightens;
            border-top: none !important;
            margin-left: 1em;
            width: 95%;
            background: $color-light;
            border-radius: 0 0 .5em .5em;

            .form--input-select,
            .form--input-text {
                margin: 0 0 0 0;

                label {
                    float: left;
                    width: auto;
                    font-size: 80%;
                    text-align: right;
                    padding-right: .5em;
                    padding-top: .5em;
                    margin: 0 0 0 0;

                }

                label.switch-paddle {
                    width: 4em;
                    margin: 0 0 0 0;

                }

                select {
                    float: left;
                    margin: 0 0 0 0;
                    width: auto;
                    height: 1.80em;
                    padding: 0 0 0 .5em;
                    font-size: 80%;
                    border-color: $color-neutral-medium;
                }

                .switch {
                    margin: 0 0 0 0;

                }
            }
        }


    }
}

/* response grid */
@media only screen and (max-width: 900px) and (min-width: 100px) {
    .card-title .icon {
        display: none;
    }
}