.composer--grid {
    padding: 1em;
    display: block;
    clear: both;
    margin: 0 0.25em 0 0.25em; // border: $border-thin solid $color-light;

    .composer--grid-cell {
        padding: .25em;
        min-height: 2em;
        text-align: center;
        border: $border-skinny dashed $color-neutral-medium;
    }

    .composer--grid-cell {
        // border-right: none;
        background-size: 20% 100%;
        background-image: linear-gradient(to right, rgba($color-neutral-medium, 0.25) $border-skinny, transparent $border-skinny)
    }

    .composer--grid-cell:last-child {
        // border-right: $border-thin dashed $color-neutral-medium;
    }

    .grid-x {
        // margin-bottom: 0.25em;

        .-with-8-columns {
            // border: 1px solid red;
            width: 12.5% !important;
        }

        .-with-7-columns {
            // border: 1px solid red;
            width: 14.27% !important;
        }

        .-with-6-columns {
            // border: 1px solid red;
            width: 16.666% !important;
        }

        .-with-5-columns {
            // border: 1px solid red;
            width: 20% !important;
        }

        .-with-4-columns {
            // border: 1px solid red;
            width: 25% !important;
        }

        .-with-3-columns {
            // border: 1px solid red;
            width: 33.33333% !important;
        }

        .-with-2-columns {
            // border: 1px solid red;
            width: 50% !important;
        }
    }
}

table.composer--grid-table {
    width: 98%;
    background: none;
    margin: 1em 0 2rem 1%;

    td {
        // background: $palette-color-base;
        background-color: $color-white;
        border: $border-thin dashed $color-neutral-medium;
        // border: $border-skinny solid transparent;
        padding: 1em;
        text-align: center;
    }

    td:hover {
        // margin: 1em;
        // background: rgba($color-neutral-medium, .25);
        border: $border-skinny dashed $color-twinkle;
        border-top: $border-skinny dashed $color-twinkle;
        // background: $color-twinkle;

    }


}

.composer--holder-elements {
    display: inline-block;
    text-align: left;
    width: 100%;
    padding: .5em 0 0 0;

    .card--element-node {
        // width: 24rem;
    }

    // border: 1px solid red;
}