.ui-fancytree {
    .fancytree-has-children {
        .fancytree-title {
            font-weight: bolder;
        }
    }
}

// #data-list-elements,
// #data-table-elements,
// #data-list-concepts,
// #data-list-author-metrix,
// #data-list-author-executive {
//     font-size: 85%;
//     ul {
//         outline: none;
//         list-style: none;
//         li {
//             margin-bottom: 0.5em;
//             .fancytree-node {
//                 .fancytree-expander {
//                     color: $color-neutral-light; // margin-top: 3px;
//                 }
//                 .fancytree-checkbox {
//                     color: $palette-color-median; // margin-top: 3px;
//                 }
//                 .fancytree-icon {
//                     margin-right: 3px;
//                     float: right;
//                     color: $color-neutral-medium;
//                 }
//                 .fancytree-title {
//                     color: $palette-color-darken;
//                     padding-left: 7px; // font-weight: bolder;
//                 }
//             }
//         }
//     }
//     ul.ui-fancytree {
//         margin: 1em 0 0 1.25em;
//     }
//     .material-icons {
//         font-size: 17px;
//     }
//     .fancytree-container {
//         outline: none;
//     }
// }
// #data-list-elements {
//   ul {
//     li {
//       .fancytree-node {
//         .fancytree-icon {
//           // color: $color-white;
//         }
//       }
//     }
//   }
// }
table#data-table-concepts {
    font-size: 85%; // width: 99%;
    margin: 0 0 0 0;

    tbody th,
    tbody td {
        padding: 0.25em 0 0.25em 0;
        border: none;
    }

    tbody {
        border: none;
    }

    tbody tr>td {
        padding: 0 0 0 0.25em;
    }

    tbody tr td+td {
        text-align: center;
    }

    tbody tr td+td+td {
        text-align: left;
    }

    thead tr th {
        color: $palette-color-median;
        text-align: center;
    }

    tr {
        border-top: 1px solid $palette-color-lightens;
        background-color: $color-white;
    }

    thead {
        // background: $color-neutral-light; // color: #002B59;
        background: $color-white;
        text-align: left;
    }

    thead th,
    thead td,
    tfoot th,
    tfoot td {
        padding: 0 0.25rem 0 0;
        font-weight: lighter;
        text-align: left;
    }

    .material-icons {
        font-size: 17px;
        color: $palette-color-median;
    }

    span[role="presentation"] {
        margin-right: 3px;
        float: right;
        color: $palette-color-lightens;
    }
}

// fancy tree
.ui-fancytree {
    font-size: 85%;
    outline: none;
    list-style: none;
    margin: 1em 0 0 0;
    outline: none;

    li {
        margin-bottom: 0.5em;

        .fancytree-node {
            .fancytree-expander {
                color: $color-neutral-light; // margin-top: 3px;
            }

            .fancytree-checkbox {
                color: $palette-color-median; // margin-top: 3px;
            }

            .fancytree-icon {
                margin-right: 3px;
                float: right;
                color: $color-neutral-medium;
            }

            .fancytree-title {
                color: $palette-color-darken;
                padding-left: 7px; // font-weight: bolder;
            }
        }
    }

    .material-icons {
        font-size: 17px;
    }

    li[role="treeitem"] {
        // border: 1px solid cyan;
        list-style: none;

        span.fancytree-node {
            // display: inline-block;
            width: 100%;

            span[role="button"] {
                display: inline-block;
                float: left; // border: 1px solid green;
                width: 10%;
                clear: left;
            }

            span[role="presentation"] {
                display: inline-block; // border: 1px solid blue;
                float: right; // width: 5%;
            }

            span[role="checkbox"] {
                display: inline-block; // border: 1px solid blue;
                float: left;
                width: 10%;
            }

            span.fancytree-title {
                // border: 1px solid red;
                display: inline-block;
                // float: left;
                width: 75%;

                b {
                    display: inline-block;
                    // border: 1px solid red;
                    // float: left;
                    width: 75%;
                }
            }

            &.-has-children {
                display: inline-block;
            }
        }
    }

    li[role="treeitem"].primary {
        span.fancytree-title {
            color: $palette-color-median !important;
        }
    }

    li[role="treeitem"].secondary {
        span.fancytree-title {
            color: $color-neutral !important;
        }
    }

    li[role="treeitem"].success {
        span.fancytree-title {
            color: $color-grass !important;
        }
    }

    li[role="treeitem"].warning {
        span.fancytree-title {
            color: $color-heat !important;
        }
    }

    li[role="treeitem"].alert {
        span.fancytree-title {
            color: $palette-color-accent !important;
        }
    }
}

ul.ui-fancytree {
    // margin: 1em 0 0 1em !important; // padding: 0 0 0 1em !important;

    li {
        // margin-bottom: 0 !important;
    }
}