::-webkit-scrollbar-thumb {
    // background: $color-neutral-light; 
    background: $palette-color-median;
}

::-webkit-scrollbar-track {
    background: $color-light;
}

::-webkit-scrollbar {
    width: 3px;
}