::-webkit-scrollbar-thumb {
    // background: $color-neutral-light;
    background: $palette-color-median;
}

::-webkit-scrollbar-track {
    background: $palette-color-base;
}

::-webkit-scrollbar {
    width: $border-slim;
}