.data--table {
    thead>tr th {
        color: $color-light;
        border-right: 1px solid #fff;
        font-weight: lighter;
    }
    td {
        // font-size: .85em;
    }
    th {
        border-right: 1px solid #fff;
    }
}

#data--table-users-participants {
    thead,
    tbody,
    tfoot {
        background: transparent;
        border: none;
    }
    thead {
        display: none;
    }
    .actionable {
        padding: 0 0 0 0;
        text-align: center;
        button {
            padding: .5em 1em .5em 1em;
            margin: 0 auto;
        }
    }
    tbody {
        .icon {
            float: left;
            margin-right: .25em;
        }
    }
}

#data--table-users {
    .actionable {
        text-align: center;
        padding: 0 0 0 0;
        button {
            padding: .5em 1em .5em 1em;
            margin: 0 auto;
        }
    }
}

.table-transparent {
    tr {
        background: transparent !important;
    }
}

table#data--table-taxon {
    thead {
        display: none;
    }
    th {
        padding: 0 0 0 0;
        margin: 0 0 0 0;
    }
    tbody tr:nth-child(even) {
        background-color: #fff;
    }
    tr:hover {
        background-color: $palette-color-lightens !important;
    }
    td {
        padding: 0 0 0 1em;
        margin: 0 0 0 0;
        a.button.delete {
            // height: .25em;
            // width: .25em;
            margin-top: 1em;
            padding: .25em;
            i {
                text-decoration: none;
            }
            &:hover {
                i {
                    color: $color-light;
                }
            }
        }
    }
    thead,
    tbody,
    tfoot {
        border: none;
        background: transparent;
    }
    tbody>tr>td {
        width: 90%;
    }
}