.off-canvas {
    // width: 21em;
    padding: 2em 1em 1em 1em;
    background: $palette-color-darken;
    color: $palette-color-lightens;

    .close-button {
        height: 1em;
        width: 1em;
        padding: 0 0 0 0;
        border: none;
        color: $palette-color-lightens;

        &:hover {
            color: $palette-color-darken;
            background-color: $palette-color-lightens;
        }
    }

    .button-off-canvas {
        span.icon {
            margin-top: -.15em;
            margin-left: .5em;
            position: absolute;
            display: inline-block; // float: right;
        }
    }

    .form--input-checkbox {
        input {

            &:checked+label,
            &:checked+label:before {
                color: $palette-color-lightens !important;
            }
        }
    }

    label {
        width: 100%;
        margin-bottom: .75rem;
    }

    legend {
        margin-bottom: 1em;

    }

    .notification---project {
        .list--notification-items {
            a {
                &:hover {
                    color: $palette-color-lightens;
                }
            }
        }
    }

    [type='text'],
    [type='password'],
    [type='date'],
    [type='datetime'],
    [type='datetime-local'],
    [type='month'],
    [type='week'],
    [type='email'],
    [type='number'],
    [type='search'],
    [type='tel'],
    [type='time'],
    [type='url'],
    [type='color'],
    textarea {
        color: $palette-color-lightens;

        &:focus {
            border-bottom: $color-grass 1px solid !important;

            &+.button {
                border-bottom: $color-grass 1px solid !important;

                i.material-icons {
                    color: $color-grass;
                }
            }
        }
    }
}

.off-canvas {

    .form--input-text,
    .form--input-switch {

        label {
            // color: $palette-color-lightens;
        }

        .switch .switch-value {
            text-align: left;
            margin: 0 0 0 0;
            width: auto !important;
        }

        .switch-paddle {
            background: $color-midnight;

        }

        input:checked~.switch-paddle {
            background: $palette-color-median;

        }

        .switch label.switch-paddle {
            width: 4rem;
        }

        .switch.tiny label.switch-paddle {
            width: 3rem;
        }

        .switch.small label.switch-paddle {
            width: 3.5rem;
        }

        .switch.large label.switch-paddle {
            width: 5rem;
        }

    }
}

// $offcanvas-sizes: ( small: 250px, medium: 350px, );