.panel--right.cell.small-1
      .grid-y
            .cell.small-1
                  button.panel--side-button.button.alert(type='button', data-toggle='content--offcanvas-right')
                        span.text 
                              | Alerts
                        span.icon
                              i.material-icons.md-18(aria-hidden='true') add_alert

            //- .cell.small-1
            //-       button.panel--side-button.button(type='button', data-toggle='content--offcanvas-right')
            //-             span.text 
            //-                   | Comments
            //-             span.icon
            //-                   i.material-icons.md-18(aria-hidden='true') mode_comment

            //- .cell.small-1
            //-       button.panel--side-button.button(type='button', data-toggle='content--offcanvas-right')
            //-             span.text 
            //-                   | References
            //-             span.icon
            //-                   i.material-icons.md-18(aria-hidden='true') merge_type
