.panel--left.cell.small-1
      .grid-y.pull-left
            .cell.small-1
                  button.panel--side-button.button(type='button', data-toggle='content--offcanvas-left-search')
                        span.icon
                              i.material-icons.md-18(aria-hidden='true') search
                        span.counter.is-hidden 6
                        span.text 
                              | Search
            .cell.small-1
                  button.panel--side-button.button(type='button', data-toggle='content--offcanvas-left-filter')
                        span.icon
                              i.material-icons.md-18(aria-hidden='true') filter_list
                        span.counter 6
                        span.text 
                              | Filter
            //- hr

            //- .cell.small-1
                  a.panel--side-button.button( href='dashboard.html')
                        span.icon
                              i.material-icons.md-18(aria-hidden='true') dashboard
                        span.counter.is-hidden 6
                        span.text 
                              | Dashboard
                              
            //- .cell.small-1
                  a.panel--side-button.button(data-toggle='content--offcanvas-left-reports')
                        span.icon
                              i.material-icons.md-18(aria-hidden='true') sort
                        span.counter 6`
                        span.text 
                              | Taxonomy

            //- .cell.small-1
                  a.panel--side-button.button.success
                        span.icon 
                              i.material-icons.md-18(aria-hidden='true') folder_special
                        span.counter.is-hidden 6
                        span.text 
                              | Create Project
            .cell.small-1
                  a.panel--side-button.button.button--navigation.warning
                        span.icon
                              i.fa.fa-database(aria-hidden='true')
                        span.counter.is-hidden 6
                        span.text 
                              | TDD
            .cell.small-1
                  a.panel--side-button.button.button--navigation.warning
                        span.icon
                              i.fa.fa-database(aria-hidden='true')
                        span.counter.is-hidden 6
                        span.text 
                              | CCD
                        ul.vertical.dropdown.menu(data-dropdown-menu='')
                              li
                                    a(href='#') Item 1
                                    ul.vertical.menu.nested
                                          li
                                                a(href='#') Item 1A





            //- .cell.small-1
                  button.panel--side-button.button(type='button', data-toggle='content--offcanvas-left-reports')
                        span.icon
                              i.material-icons.md-18(aria-hidden='true') equalizer
                        span.counter 6
                        span.text 
                              | Reports
            //- hr
            .cell.small-1
                  button.panel--side-button.button(type='button', data-toggle='content--offcanvas-left-filter')
                        span.icon
                              i.material-icons.md-18(aria-hidden='true') pan_tool
                        span.counter 6
                        span.text Sampler Longer Longer
            //- .cell.small-1
                  button.panel--side-button.button(type='button', data-toggle='content--offcanvas-left-filter')
                        span.icon
                              i.material-icons.md-18(aria-hidden='true') pan_tool
                        span.counter 6
                        span.text Sampler
            //- .cell.small-1
                  a.panel--side-button.button.success
                        span.icon 
                              i.material-icons.md-18(aria-hidden='true') folder_special
                        span.counter.is-hidden 6
                        span.text 
                              | Longer Long Text Text