.panel--left.cell.small-1
    //-   .grid-y.pull-left
            .cell.small-1
                  button.panel--side-button.button(type='button', href='dashboard.html')
                        span.icon
                              i.material-icons.md-18(aria-hidden='true') dashboard
                        span.text 
                              | Dashboard
            .cell.small-1
                  button.panel--side-button.button(type='button', data-toggle='content--offcanvas-left-search')
                        span.icon
                              i.material-icons.md-18(aria-hidden='true') search
                        span.text 
                              | Search
            //- .cell.small-1
            //-       button.panel--side-button.button(type='button', data-toggle='content--offcanvas-left-filter')
            //-             span.icon
            //-                   i.material-icons.md-18(aria-hidden='true') filter_list
            //-             span.text 
            //-                   | Filter

            .cell.small-1
                  button.panel--side-button.button(type='button', data-toggle='content--offcanvas-left-reports')
                        span.icon
                              i.material-icons.md-18(aria-hidden='true') equalizer
                        span.text 
                              | Reports
            .cell.small-1
                  button.panel--side-button.button(type='button', data-toggle='content--offcanvas-left-reports')
                        span.icon
                              i.material-icons.md-18(aria-hidden='true') sort
                        span.text 
                              | Taxonomy
            .cell.small-1
                  button.panel--side-button.button
                        span.icon
                              i.material-icons.md-18(aria-hidden='true') folder_special
                        span.text 
                              | Create Project

            //- .cell.small-1
                  button.panel--side-button.button
                        span.icon
                              i.material-icons.md-18(aria-hidden='true') list
                        span.text 
                              | Registeries

            //- .cell.small-1
            //-       button.panel--side-button.button
            //-             span.icon
            //-                   i.fa.fa-database(aria-hidden='true')
            //-             span.text 
            //-                   | TDD
            //- .cell.small-1
            //-       button.panel--side-button.button
            //-             span.icon
            //-                   i.fa.fa-database(aria-hidden='true')
            //-             span.text 
            //-                   | CCD
