.panel--right.cell.small-1
      .grid-y
            .cell.small-1
                  button.panel--side-button.button(type='button', data-toggle='content--offcanvas-right-updates')
                        span.counter 22
                        span.text 
                              | Updates
                        span.icon
                              i.material-icons.md-18(aria-hidden='true') update

            .cell.small-1(data-intro="Off Canvas Side Panel - show context data base on project" data-position="left")
                  button.panel--side-button.button(type='button', data-toggle='content--offcanvas-right-comments')
                        span.counter 600
                        span.text 
                              | Comments
                        span.icon
                              i.material-icons.md-18(aria-hidden='true') mode_comment

            .cell.small-1
                  button.panel--side-button.button(type='button', data-toggle='content--offcanvas-right-references')
                        span.counter 6
                        span.text 
                              | References
                        span.icon
                              i.material-icons.md-18(aria-hidden='true') merge_type
            .cell.small-1
                  button.panel--side-button.button(type='button', data-toggle='content--offcanvas-left-filter')
                        span.counter 99
                        span.text Sample
                        span.icon
                              i.material-icons.md-18(aria-hidden='true') pan_tool
