include /template/variables/_mixins
//- include /template/components/_prompt.pug
#page--directory.panel--center-container
    .grid-x
        //- page
        .panel--center-column-directory.small-2.medium-2.large-12.cell  
            .content--panel
                .grid-x.grid-padding-x
                    .cell.small-3
                        .content--panel.dashboard---panel-notification
                            h2.heading--h2
                                | Quick Actions
                            p.h7.text-help You saved Quick Actions to optimize workflow

                            .notification---project
                                button.close-button(aria-label='Close menu', type='button', data-close).button
                                    span.icon
                                        i.material-icons.md-18 close

                                ul.list--notification-items.no-bullets
                                    li
                                        i.material-icons.md-12(aria-hidden='true').has-tip(data-tooltip='', aria-haspopup='true', data-disable-hover='false', tabindex='1', title='change by {username}') publish
                                        a  Publish to DEV
                                    li 
                                        i.material-icons.md-12(aria-hidden='true').has-tip(data-tooltip='', aria-haspopup='true', data-disable-hover='false', tabindex='1', title='change by {username}') file_copy
                                        a  TDD Clone


                            h2.heading--h2
                                | Recent Update
                            //- p.h7 Recent changes to this project
                            p.h7.is-hidden No notifications

                            .notification---project.callout.secondary(data-closable)
                                button.close-button(aria-label='Close menu', type='button', data-close).button
                                    span.icon
                                        i.material-icons.md-18 close

                                ul.list--notification-items.no-bullets
                                    li
                                        i.material-icons.md-12(aria-hidden='true').has-tip(data-tooltip='', aria-haspopup='true', data-disable-hover='false', tabindex='1', title='change by {username}') mode_edit
                                        a  {element name} changed
                                    li 
                                        i.material-icons.md-12(aria-hidden='true').has-tip(data-tooltip='', aria-haspopup='true', data-disable-hover='false', tabindex='1', title='change by {username}') remove
                                        a  {element name} removed
                                    li 
                                        i.material-icons.md-12(aria-hidden='true').has-tip(data-tooltip='', aria-haspopup='true', data-disable-hover='false', tabindex='1', title='change by {username}') add
                                        a  {element name} added
                                    li 
                                        i.material-icons.md-12(aria-hidden='true').has-tip(data-tooltip='', aria-haspopup='true', data-disable-hover='false', tabindex='1', title='change by {username}') link
                                        a  {element name} linked

                            //- hr
                            h2.heading--h2
                                | Recent Comment
                            p.h7.is-hidden No notifications

                            .comment---project.callout.secondary(data-closable)
                                small
                                    span.date {date} 
                                    span.time {time}
                                blockquote.text--comment
                                    | Logic will get you from A to Z. Imagination will get you everywhere
                                    cite Albert Eintens

                                a(href="#").button-view-comments.button.expanded( data-toggle='content--offcanvas-right-comments')
                                    | View All Comments
                                    i.material-icons.md-18(aria-hidden='true') keyboard_arrow_right




                    //- .cell.panel--center-column-type
                        .content--panel
                    .cell.small-9
                        .content--panel.dashboard---panel-project(data-micro-interaction-target)
                            .grid-x.grid-padding-x
                                .cell
                                    include ../pages/includes/_page.project.inc.pug

#modal--users-deletion.reveal(data-reveal='').sample--code
    .content--modal
        .grid-x
            .cell.content--modal-header.text-center
                h2 Delete user?
            .cell.content--modal-content.text-left
                table
                    thead.is-hidden
                        tr
                            th User
                            th Role
                            th 
                    tbody
                        tr
                            td 
                                strong S. Fulllastname
                            td Project Author
                            td sfullastname

            .cell.content--modal-controls.text-center
                a.button.alert Delete
                a.button.primary(data-close='', aria-label='Close reveal') Cancel

            button.close-button(data-close='', aria-label='Close reveal', type='button')
                span(aria-hidden='true') ×

#modal--users-addition.reveal(data-reveal='').sample--code
    .content--modal
        .grid-x
            .cell.content--modal-header.text-center
                h2 Add user(s)
            .cell.content--modal-content.text-left
                table#data--table-users.data--table
                    thead
                        tr
                            th(width="10") 
                            th(width="100")  User Name
                            th Email
                            th Role
                            th First Name
                            th Last Name
                    tbody
                        tr
                            td
                                .form--input-checkbox.-is-required
                                        input#checkbox1(type='checkbox')
                                        label(for='checkbox1')
                            td 
                                | quib
                            td 
                                | quib@quib.com
                            td 
                                select#Mfox11_RoleId(name="RoleId")
                                    option(value="") Select One
                                    option(value="3") Project Author
                                    option(value="4") Project Reviewer
                                    option(value="5") Project Owner
                                    option(value="6") Project  Tddeditor
                            td Aquib
                            td Sylvester
                        tr
                            td
                                .form--input-checkbox
                                        input#checkbox1(type='checkbox')
                                        label(for='checkbox1')
                            td username
                            td email@email.com
                            td 
                                select#Mfox11_RoleId(name="RoleId")
                                    option(value="") Select One
                                    option(value="3") Project Author
                                    option(value="4") Project Reviewer
                                    option(value="5") Project Owner
                                    option(value="6") Project  Tddeditor
                            td Name
                            td Last
                        tr
                            td
                                .form--input-checkbox
                                        input#checkbox1(type='checkbox')
                                        label(for='checkbox1')
                            td 
                                | username
                            td 
                                | email@email.com
                            td 
                                select#Mfox11_RoleId(name="RoleId")
                                    option(value="") Select One
                                    option(value="3") Project Author
                                    option(value="4") Project Reviewer
                                    option(value="5") Project Owner
                                    option(value="6") Project  Tddeditor
                            td Name
                            td Last

            .cell.content--modal-controls.text-center
                a.button.success Add
                a.button.primary(data-close='', aria-label='Close reveal') Cancel

            button.close-button(data-close='', aria-label='Close reveal', type='button')
                span(aria-hidden='true') ×