
include /template/variables/_mixins
//- include /template/components/_prompt.pug

#page--worspace.panel--center-container.grid-y.medium-grid-frame
    #list--headers.cell.shrink.header.medium-cell-block-container
        //- column header
        .grid-x
            .column--list-concepts.cell.medium-3
                .grid-x
                    //- .panel--center-column-type.small-1.medium-1.large-1.cell
                            i.material-icons.md-18 lightbulb_outline
                    .panel--center-column-title.small-8.medium-8.large-8.cell
                            h6.panel--center-column-title-text.h7 Concepts
                    .panel--center-column-options.small-1.medium-2.large-1.cell
                            button.option-button.button.has-tip(data-tooltip='', aria-haspopup='true', data-disable-hover='false', tabindex='1', title='New ') 
                                i.material-icons.md-18 add_box
                    .panel--center-column-options.small-1.medium-2.large-1.cell
                            button.option-button.button.has-tip(data-tooltip='', aria-haspopup='true', data-disable-hover='false', tabindex='1', title='Clone') 
                                i.material-icons.md-18 content_copy
                    .panel--center-column-options.small-1.medium-2.large-1.cell
                            button.option-button.button.has-tip(data-tooltip='', aria-haspopup='true', data-disable-hover='false', tabindex='1', title='Expand All') 
                                i.material-icons.md-18 zoom_out_map
                    .panel--center-column-options.small-1.medium-2.large-1.cell
                            button.option-button.button.has-tip(data-tooltip='', aria-haspopup='true', data-disable-hover='false', tabindex='1', title='Customize') 
                                i.material-icons.md-18 settings
                .panel--center-column-features.cell
                        i.icon.material-icons.md-14 filter_list
                        i.icon-clear.material-icons.md-14 close
                        input.feature--filter-input(type='text', placeholder='quick a filter')
                .column--list-concepts-data.cell.medium-cell-block-y
                    //- h2 1
                    include /template/components/_data.list.elements.pug 
                .column--list-concepts-counter.cell
                        .grid-x
                                .counter-selected.small-6.medium-6.large-6.cell
                                        span.icon
                                                i.material-icons.md-12 check
                                        span.total-selected
                                                | 1   
                                .counter-viewing.small-6.medium-6.large-6.cell
                                        span.icon
                                                i.material-icons.md-12 remove_red_eye
                                        span.total
                                                | 1/2         
            .column--list-elements.cell.medium-3
                .grid-x
                    //- .panel--center-column-type.small-1.medium-1.large-1.cell
                            i.material-icons.md-18 change_history
                    .panel--center-column-title.small-8.medium-8.large-8.cell
                            h6.panel--center-column-title-text.h7 Data Elements
                    .panel--center-column-options.small-1.medium-2.large-1.cell
                            button.option-button.button.has-tip(data-tooltip='', aria-haspopup='true', data-disable-hover='false', tabindex='1', title='New') 
                                i.material-icons.md-18 add_box
                    .panel--center-column-options.small-1.medium-2.large-1.cell
                            button.option-button.button.has-tip(data-tooltip='', aria-haspopup='true', data-disable-hover='false', tabindex='1', title='Clone') 
                                i.material-icons.md-18 content_copy
                    .panel--center-column-options.small-1.medium-2.large-1.cell
                            button.option-button.button.has-tip(data-tooltip='', aria-haspopup='true', data-disable-hover='false', tabindex='1', title='Expand All') 
                                i.material-icons.md-18 zoom_out_map
                    .panel--center-column-options.small-1.medium-2.large-1.cell
                            button.option-button.button.has-tip(data-tooltip='', aria-haspopup='true', data-disable-hover='false', tabindex='1', title='Customize') 
                                i.material-icons.md-18 settings
                    .panel--center-column-features.cell
                        i.icon.material-icons.md-14 filter_list
                        i.icon-clear.material-icons.md-14 close
                        input.feature--filter-input(type='text', placeholder='quick a filter')
                .column--list-elements-data.cell.medium-cell-block-y
                    //- h2 2
                    include /template/components/_data.list.tree.pug
                .column--list-elements-counter.cell
                        .grid-x
                                .counter-selected.small-6.medium-6.large-6.cell
                                        span.icon
                                                i.material-icons.md-12 check
                                        span.total-selected
                                                | 1   
                                .counter-viewing.small-6.medium-6.large-6.cell
                                        span.icon
                                                i.material-icons.md-12 remove_red_eye
                                        span.total
                                                | 1/2      
            .column--list-workspace.cell.medium-auto.medium-cell-block-container
                //- .grid-x
                    //- .cell.medium-12.medium-cell-block-y
                include /template/pages/includes/_page.workspace.concepts.pug 
                //- include /template/pages/includes/_page.workspace.inc.pug 
.cell.shrink.footer
    //- footer include
    //- include /template/layout/_panel.center.footer.pug 