include /template/variables/_mixins
//- include /template/components/_prompt.pug
#page--directory.panel--center-container
    .grid-x
        //- page
        .panel--center-column-directory.small-2.medium-2.large-12.cell  
            .content--panel
                .grid-x
                    .cell
                        .content--panel
                        p
                            | Material Icon Documentation
                            a(href='http://google.github.io/material-design-icons/') 
                                | http://google.github.io/material-design-icons/
                            
                            table#data--table-icons.data--table.display(cellspacing='0', width='100%')
                                thead
                                    tr
                                        th Type
                                        th Page/Location
                                        th Code Syntax
                                        th Sample
                                tbody
                                    tr
                                        td Form / Element
                                        td Breadcrumb
                                        td change_history
                                        td 
                                            a(href='index.html').breadcrumbs--nav-link
                                                span.icon
                                                    i.material-icons.md-18 change_history
                                    tr
                                        td Form / Page
                                        td Breadcrumb
                                        td chrome_reader_mode
                                        td
                                            a(href='index.html').breadcrumbs--nav-link
                                                span.icon
                                                    i.material-icons.md-18 chrome_reader_mode

                                    tr
                                        td Form
                                        td Breadcrumb
                                        td web_asset
                                        td 
                                            a(href='index.html').breadcrumbs--nav-link
                                                span.icon
                                                    i.material-icons.md-18 web_asset
                                    tr
                                        td Form / Section
                                        td Breadcrumb
                                        td web
                                        td 
                                            a(href='index.html').breadcrumbs--nav-link
                                                span.icon
                                                    i.material-icons.md-18 web
                                    tr
                                        td Taxnomy
                                        td Home
                                        td device_hub
                                        td 
                                            a(href='index.html').breadcrumbs--nav-link
                                                span.icon
                                                    i.material-icons.md-18 device_hub
                                    tr
                                        td Create Project
                                        td Globally
                                        td create_new_folder
                                        td 
                                            a(href='index.html').breadcrumbs--nav-link
                                                span.icon
                                                    i.material-icons.md-18 create_new_folder
                                    tr
                                        td Registery
                                        td Globally
                                        td create_new_folder
                                        td 
                                            a(href='index.html').breadcrumbs--nav-link
                                                span.icon
                                                    i.material-icons.md-18 create_new_folder
                                    tr
                                        td Projects (Listing)
                                        td Breabcrumb
                                        td folder
                                        td 
                                            a(href='index.html').breadcrumbs--nav-link
                                                span.icon
                                                    i.material-icons.md-18 folder

                                    tr
                                        td Project
                                        td Breabcrumb
                                        td folder_special
                                        td 
                                            a(href='index.html').breadcrumbs--nav-link
                                                span.icon
                                                    i.material-icons.md-18 folder_special

                                    tr
                                        td Updates
                                        td Right Navigation
                                        td new_releases
                                        td 
                                            a(href='index.html').breadcrumbs--nav-link
                                                span.icon
                                                    i.material-icons.md-18 new_releases

                                    tr
                                        td Data Element
                                        td Globally
                                        td change_history
                                        td 
                                            a(href='index.html').breadcrumbs--nav-link
                                                span.icon
                                                    i.material-icons.md-18 change_history
                                    tr
                                        td Registries Constraints
                                        td Tab
                                        td calendar_view_day
                                        td 
                                            a(href='index.html').breadcrumbs--nav-link
                                                span.icon
                                                    i.material-icons.md-18 calendar_view_day
                                    tr
                                        td Publish History

                                        td Tab
                                        td cloud_download

                                        td 
                                            a(href='index.html').breadcrumbs--nav-link
                                                span.icon
                                                    i.material-icons.md-18 cloud_download

                                    tr
                                        td Pulish Summary


                                        td Tab
                                        td cloud_upload


                                        td 
                                            a(href='index.html').breadcrumbs--nav-link
                                                span.icon
                                                    i.material-icons.md-18 cloud_upload

                                    tr
                                        td Pulish Preview


                                        td Tab
                                        td cloud_upload


                                        td 
                                            a(href='index.html').breadcrumbs--nav-link
                                                span.icon
                                                    i.material-icons.md-18 cloud_upload

                                    tr
                                        td Pulish to Dev


                                        td Tab
                                        td publish


                                        td 
                                            a(href='index.html').breadcrumbs--nav-link
                                                span.icon
                                                    i.material-icons.md-18 publish


                                    tr
                                        td Pulish to Stage


                                        td Tab
                                        td publish


                                        td 
                                            a(href='index.html').breadcrumbs--nav-link
                                                span.icon
                                                    i.material-icons.md-18 publish


                                                    

                                    tr
                                        td Threshold
                                        td Tab
                                        td line_weight

                                        td 
                                            a(href='index.html').breadcrumbs--nav-link
                                                span.icon
                                                    i.material-icons.md-18 line_weight
                                    tr
                                        td Snapshot
                                        td Tab
                                        td add_alarm


                                        td 
                                            a(href='index.html').breadcrumbs--nav-link
                                                span.icon
                                                    i.material-icons.md-18 add_alarm
                                    tr
                                        td VSM Threshold
                                        td Tab
                                        td line_weight

                                        td 
                                            a(href='index.html').breadcrumbs--nav-link
                                                span.icon
                                                    i.material-icons.md-18 line_weight

                                    tr
                                        td Registries
                                        td Tab
                                        td menu
                                        td 
                                            a(href='index.html').breadcrumbs--nav-link
                                                span.icon
                                                    i.material-icons.md-18 menu

                                    tr
                                        td TDD Compare
                                        td Tab
                                        td playlist_add_check
                                        td 
                                            a(href='index.html').breadcrumbs--nav-link
                                                span.icon
                                                    i.material-icons.md-18 playlist_add_check
                                    tr
                                        td Value Set
                                        td Globally
                                        td flip_to_back
                                        td 
                                            a(href='index.html').breadcrumbs--nav-link
                                                span.icon
                                                    i.material-icons.md-18 flip_to_back
                                    tr
                                        td Concept
                                        td Globally
                                        td adjust   

                                        td 
                                            a(href='index.html').breadcrumbs--nav-link
                                                span.icon
                                                    i.material-icons.md-18  adjust

                                    tr
                                        td Clone
                                        td Tab
                                        td line_style

                                        td 
                                            a(href='index.html').breadcrumbs--nav-link
                                                span.icon
                                                    i.material-icons.md-18 line_style


                                    tr
                                        td Concept Elements
                                        td Globally
                                        td category
                                        td 
                                            a(href='index.html').breadcrumbs--nav-link
                                                span.icon
                                                    i.material-icons.md-18  category

                                    tr
                                        td Metric / Tab
                                        td Tab
                                        td pie_chart
                                        td 
                                            a(href='index.html').breadcrumbs--nav-link
                                                span.icon
                                                    i.material-icons.md-18  pie_chart

                                    tr
                                        td Metric / Report
                                        td Globally
                                        td insert_chart_outlined
                                        td 
                                            a(href='index.html').breadcrumbs--nav-link
                                                span.icon
                                                    i.material-icons.md-18  insert_chart_outlined

                                    tr
                                        td Metric / Report Name
                                        td Globally
                                        td insert_chart
                                        td 
                                            a(href='index.html').breadcrumbs--nav-link
                                                span.icon
                                                    i.material-icons.md-18  insert_chart

                                    tr
                                        td Metric / Report Line
                                        td Globally
                                        td bar_chart
                                        td 
                                            a(href='index.html').breadcrumbs--nav-link
                                                span.icon
                                                    i.material-icons.md-18 bar_chart

                                    tr
                                        td Metric / Algoithms Folder
                                        td Globally
                                        td folder
                                        td 
                                            a(href='index.html').breadcrumbs--nav-link
                                                span.icon
                                                    i.material-icons.md-18 folder

                                    tr
                                        td Metric / Algoithms Name
                                        td Globally
                                        td polymer
                                        td 
                                            a(href='index.html').breadcrumbs--nav-link
                                                span.icon
                                                    i.material-icons.md-18 polymer

                                    tr
                                        td Metric / Population
                                        td Globally
                                        td folder_shared
                                        td 
                                            a(href='index.html').breadcrumbs--nav-link
                                                span.icon
                                                    i.material-icons.md-18 folder_shared

                                    tr
                                        td Metric / Population Name
                                        td Globally
                                        td group
                                        td 
                                            a(href='index.html').breadcrumbs--nav-link
                                                span.icon
                                                    i.material-icons.md-18 group
                                                    





                                 
//- footer include
//- include /template/layout/_panel.center.footer.pug 
