.panel--notificaiton.grid-x.grid-margin-x

      .panel--notificaiton-section.small-3.medium-3.large-3.cell(data-notification-type='udpates').-is-read
        .grid-x
          .icon
            i.material-icons.md-24 update
          .counter.h7
            | #
          .title.hide-for-small-only.h7
            | Updates

      .panel--notificaiton-section.small-3.medium-3.large-3.cell(data-notification-type='comments').-is-unread.alert
        .grid-x
          .icon
            i.material-icons.md-24 comment
          .counter.h7
            | #
          .title.hide-for-small-only.h7
            | Comments

      .panel--notificaiton-section.small-3.medium-3.large-3.cell(data-notification-type='cross-reference').-is-read
        .grid-x
          .icon
            i.material-icons.md-24 swap_calls
          .title.hide-for-small-only
            | Cross-References
          .counter
            | #
            i.material-icons.md-24 publish        
          .counter.h7
            | #
            i.material-icons.md-24 file_download        
          .title.hide-for-small-only.h7
            | # 
            i.material-icons.md-24 update
            
      .panel--notificaiton-section.small-3.medium-3.large-3.cell(data-notification-type='elements').-is-read
        .grid-x
          .icon
            i.material-icons.md-24 update
          .counter.h7
            | #
          .title.hide-for-small-only.h7
            | Data Elements
            