
table#data--table-taxon.data--table
    thead
        tr
            th(width="90%")  Name
            th | s
    tbody
        tr
            td 
                | Test
            td
                a.button.alert.delete 
                    i.material-icons.md-18 delete
        tr
            td 
                | Test 2
            td
                a.button.alert.delete
                    i.material-icons.md-18 delete