form(data-abide='7v3wyo-abide', novalidate='')
    .grid-x
        .cell
            ul#tab--definitions.tabs(data-tabs='')
                li.tabs-title.is-active
                    a(href='#panel1v', aria-selected='true') 01
                li.tabs-title
                    a(href='#panel2v') 02
                li.tabs-title
                    a(href='#panel3v') 03
                li.tabs-title
                    a(href='#panel4v') 04
                li.tabs-title
                    a(href='#panel5v') 05
                li.tabs-title
                    a(href='#panel6v') 06

        .cell.definitions--details.tabs-content(data-tabs-content='tab--definitions')
            #panel1v.tabs-panel.is-active
                .grid-x
                    .cell.small-6
                        .form--input-text.-is-required
                            label
                                | Type:1
                            input(type='text', placeholder='1234', aria-describedby='exampleHelpText', required='', pattern='number', value="AquibConcept")
                            span.form-error
                                | A name of the new create is required.
                            //- p#exampleHelpText.help-text.-has-error Any help information (what is restricted or allow with name input)


                    .cell.small-6
                        .grid-y
                            .cell
                                .form--input-text
                                    label
                                        | Title:
                                    input(type='text', placeholder='phrase', aria-describedby='exampleHelpText', value="55555")
                                    //- span.form-error
                                        | Tags are useful for stuff
                    .cell.small-6
                        .grid-y
                            .cell
                                .form--input-text
                                    label
                                        | Definition:
                                    input(type='text', placeholder='phrase', aria-describedby='exampleHelpText', value="Care Provider")
                                    span.form-error
                                        | Tags are useful for stuff
                    .cell.small-6
                        .grid-y
                            .cell
                                .form--input-text
                                    label
                                        | Definition Source:
                                    input(type='text', placeholder='phrase', aria-describedby='exampleHelpText', value="Care Provider")
                                    span.form-error
                                        | Tags are useful for stuff

                    .cell.small-12
                        .grid-y
                            .cell
                                .form--input-text
                                    label
                                        | Start Date:
                                    input(type='text', disabled, placeholder='phrase', aria-describedby='exampleHelpText', required='', pattern='date', value="10/5/2017").disabled
                                    span.form-error
                                        | Date is required
            #panel2v.tabs-panel
                .grid-x
                    .cell.small-6
                        .form--input-text.-is-required
                            label
                                | Type:3
                            input(type='text', placeholder='1234', aria-describedby='exampleHelpText', required='', pattern='number', value="AquibConcept")
                            span.form-error
                                | A name of the new create is required.
                            //- p#exampleHelpText.help-text.-has-error Any help information (what is restricted or allow with name input)


                    .cell.small-6
                        .grid-y
                            .cell
                                .form--input-text
                                    label
                                        | Title:
                                    input(type='text', placeholder='phrase', aria-describedby='exampleHelpText', value="55555")
                                    //- span.form-error
                                        | Tags are useful for stuff
                    .cell.small-6
                        .grid-y
                            .cell
                                .form--input-text
                                    label
                                        | Definition:
                                    input(type='text', placeholder='phrase', aria-describedby='exampleHelpText', value="Care Provider")
                                    span.form-error
                                        | Tags are useful for stuff
                    .cell.small-6
                        .grid-y
                            .cell
                                .form--input-text
                                    label
                                        | Definition Source:
                                    input(type='text', placeholder='phrase', aria-describedby='exampleHelpText', value="Care Provider")
                                    span.form-error
                                        | Tags are useful for stuff

                    .cell.small-12
                        .grid-y
                            .cell
                                .form--input-text
                                    label
                                        | Start Date:
                                    input(type='text', disabled, placeholder='phrase', aria-describedby='exampleHelpText', required='', pattern='date', value="10/5/2017").disabled
                                    span.form-error
                                        | Date is required
            #panel3v.tabs-panel
                .grid-x
                    .cell.small-6
                        .form--input-text.-is-required
                            label
                                | Type:
                            input(type='text', placeholder='1234', aria-describedby='exampleHelpText', required='', pattern='number', value="AquibConcept")
                            span.form-error
                                | A name of the new create is required.
                            //- p#exampleHelpText.help-text.-has-error Any help information (what is restricted or allow with name input)


                    .cell.small-6
                        .grid-y
                            .cell
                                .form--input-text
                                    label
                                        | Title:
                                    input(type='text', placeholder='phrase', aria-describedby='exampleHelpText', value="55555")
                                    //- span.form-error
                                        | Tags are useful for stuff
                    .cell.small-6
                        .grid-y
                            .cell
                                .form--input-text
                                    label
                                        | Definition:
                                    input(type='text', placeholder='phrase', aria-describedby='exampleHelpText', value="Care Provider")
                                    span.form-error
                                        | Tags are useful for stuff
                    .cell.small-6
                        .grid-y
                            .cell
                                .form--input-text
                                    label
                                        | Definition Source:
                                    input(type='text', placeholder='phrase', aria-describedby='exampleHelpText', value="Care Provider")
                                    span.form-error
                                        | Tags are useful for stuff

                    .cell.small-12
                        .grid-y
                            .cell
                                .form--input-text
                                    label
                                        | Start Date:
                                    input(type='text', disabled, placeholder='phrase', aria-describedby='exampleHelpText', required='', pattern='date', value="10/5/2017").disabled
                                    span.form-error
                                        | Date is required
            #panel4v.tabs-panel
                .grid-x
                    .cell.small-6
                        .form--input-text.-is-required
                            label
                                | Type:
                            input(type='text', placeholder='1234', aria-describedby='exampleHelpText', required='', pattern='number', value="AquibConcept")
                            span.form-error
                                | A name of the new create is required.
                            //- p#exampleHelpText.help-text.-has-error Any help information (what is restricted or allow with name input)


                    .cell.small-6
                        .grid-y
                            .cell
                                .form--input-text
                                    label
                                        | Title:
                                    input(type='text', placeholder='phrase', aria-describedby='exampleHelpText', value="55555")
                                    //- span.form-error
                                        | Tags are useful for stuff
                    .cell.small-6
                        .grid-y
                            .cell
                                .form--input-text
                                    label
                                        | Definition:
                                    input(type='text', placeholder='phrase', aria-describedby='exampleHelpText', value="Care Provider")
                                    span.form-error
                                        | Tags are useful for stuff
                    .cell.small-6
                        .grid-y
                            .cell
                                .form--input-text
                                    label
                                        | Definition Source:
                                    input(type='text', placeholder='phrase', aria-describedby='exampleHelpText', value="Care Provider")
                                    span.form-error
                                        | Tags are useful for stuff

                    .cell.small-12
                        .grid-y
                            .cell
                                .form--input-text
                                    label
                                        | Start Date:
                                    input(type='text', disabled, placeholder='phrase', aria-describedby='exampleHelpText', required='', pattern='date', value="10/5/2017").disabled
                                    span.form-error
                                        | Date is required
            #panel5v.tabs-panel
                .grid-x
                    .cell.small-6
                        .form--input-text.-is-required
                            label
                                | Type:
                            input(type='text', placeholder='1234', aria-describedby='exampleHelpText', required='', pattern='number', value="AquibConcept")
                            span.form-error
                                | A name of the new create is required.
                            //- p#exampleHelpText.help-text.-has-error Any help information (what is restricted or allow with name input)


                    .cell.small-6
                        .grid-y
                            .cell
                                .form--input-text
                                    label
                                        | Title:
                                    input(type='text', placeholder='phrase', aria-describedby='exampleHelpText', value="55555")
                                    //- span.form-error
                                        | Tags are useful for stuff
                    .cell.small-6
                        .grid-y
                            .cell
                                .form--input-text
                                    label
                                        | Definition:
                                    input(type='text', placeholder='phrase', aria-describedby='exampleHelpText', value="Care Provider")
                                    span.form-error
                                        | Tags are useful for stuff
                    .cell.small-6
                        .grid-y
                            .cell
                                .form--input-text
                                    label
                                        | Definition Source:
                                    input(type='text', placeholder='phrase', aria-describedby='exampleHelpText', value="Care Provider")
                                    span.form-error
                                        | Tags are useful for stuff

                    .cell.small-12
                        .grid-y
                            .cell
                                .form--input-text
                                    label
                                        | Start Date:
                                    input(type='text', disabled, placeholder='phrase', aria-describedby='exampleHelpText', required='', pattern='date', value="10/5/2017").disabled
                                    span.form-error
                                        | Date is required
            #panel6v.tabs-panel

        


                   

