.panel--center-container.grid-y.medium-grid-frame
        .cell.shrink.header.medium-cell-block-container
            h1 Grid Frame Header
            .grid-x.grid-padding-x
                .cell.medium-4
                    | A medium 4 cell
                .cell.medium-4.medium-cell-block
                    p(style='width:80vw;')
                        | A medium 4 cell block... on medium this content should overflow and let you horizontally scroll across... one might use this for an array of options
                .cell.medium-4
                    | A medium 4 cell
        .cell.medium-auto.medium-cell-block-container
            .grid-x.grid-padding-x
                .cell.medium-4.medium-cell-block-y
                    h2 Independent scrolling sidebar
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lacus odio, accumsan id ullamcorper eget, varius nec erat. Nulla facilisi. Donec dui felis, euismod nec finibus vitae, dapibus quis arcu. Maecenas tempor et ipsum quis venenatis. Ut posuere sed augue sit amet efficitur. Sed imperdiet, justo id tempus rhoncus, est est viverra turpis, non vulputate magna lectus et nisl. Pellentesque ultrices porttitor vehicula. Ut aliquet efficitur ligula, a consectetur felis. Proin tristique ut augue nec luctus. Curabitur a sapien pretium, auctor elit a, efficitur erat. Donec tincidunt dui vel velit bibendum euismod. Cras vitae nibh dui. Aliquam erat volutpat. Etiam sit amet arcu a erat efficitur facilisis. Ut viverra dapibus turpis, et ornare justo. Integer in dui cursus, dignissim tortor a, hendrerit risus.
                    p
                        | Suspendisse pulvinar, massa iaculis feugiat lobortis, dolor sapien vestibulum nulla, vel cursus tellus leo in lorem. Aliquam eu placerat urna. Suspendisse sed viverra orci, ut mattis neque. Fusce non ultrices nisi. In sagittis varius mollis. Quisque dolor quam, consectetur eu lacinia ac, ullamcorper vel arcu. Nullam mattis imperdiet nulla sed ornare. Praesent tristique, est id eleifend vestibulum, neque nibh condimentum ex, nec lobortis purus justo a libero. Phasellus id ex ac nunc hendrerit hendrerit. Nullam urna ipsum, rutrum at fringilla vel, venenatis non purus. Maecenas egestas ex vitae venenatis molestie. Ut et odio egestas, accumsan neque et, viverra nisl. Sed faucibus nec nulla sed imperdiet. Fusce quis sem ac urna semper tempor a id elit. Nulla fringilla vitae sapien a vehicula.
                .cell.medium-8.medium-cell-block-y
                    h2 Independent scrolling body
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lacus odio, accumsan id ullamcorper eget, varius nec erat. Nulla facilisi. Donec dui felis, euismod nec finibus vitae, dapibus quis arcu. Maecenas tempor et ipsum quis venenatis. Ut posuere sed augue sit amet efficitur. Sed imperdiet, justo id tempus rhoncus, est est viverra turpis, non vulputate magna lectus et nisl. Pellentesque ultrices porttitor vehicula. Ut aliquet efficitur ligula, a consectetur felis. Proin tristique ut augue nec luctus. Curabitur a sapien pretium, auctor elit a, efficitur erat. Donec tincidunt dui vel velit bibendum euismod. Cras vitae nibh dui. Aliquam erat volutpat. Etiam sit amet arcu a erat efficitur facilisis. Ut viverra dapibus turpis, et ornare justo. Integer in dui cursus, dignissim tortor a, hendrerit risus.
                    p
                        | Suspendisse pulvinar, massa iaculis feugiat lobortis, dolor sapien vestibulum nulla, vel cursus tellus leo in lorem. Aliquam eu placerat urna. Suspendisse sed viverra orci, ut mattis neque. Fusce non ultrices nisi. In sagittis varius mollis. Quisque dolor quam, consectetur eu lacinia ac, ullamcorper vel arcu. Nullam mattis imperdiet nulla sed ornare. Praesent tristique, est id eleifend vestibulum, neque nibh condimentum ex, nec lobortis purus justo a libero. Phasellus id ex ac nunc hendrerit hendrerit. Nullam urna ipsum, rutrum at fringilla vel, venenatis non purus. Maecenas egestas ex vitae venenatis molestie. Ut et odio egestas, accumsan neque et, viverra nisl. Sed faucibus nec nulla sed imperdiet. Fusce quis sem ac urna semper tempor a id elit. Nulla fringilla vitae sapien a vehicula.
                    p
                        | Nullam vestibulum lorem nec lectus egestas, nec ullamcorper diam maximus. Maecenas condimentum, nibh at blandit semper, ex erat tempus magna, id maximus neque velit accumsan nibh. Aenean dignissim lorem eu nisl laoreet vestibulum. Vivamus efficitur et augue vitae tincidunt. Etiam et magna felis. Integer mattis, nisi aliquet scelerisque blandit, ex mi sodales ante, eget accumsan quam magna et ligula. Curabitur id tristique leo. Proin rutrum mi vitae enim rhoncus, at cursus neque eleifend. Integer ultrices volutpat tellus ac porta. Fusce sollicitudin venenatis lacinia. Fusce ante lorem, gravida semper varius non, pharetra non erat. Sed dapibus arcu turpis, ac sollicitudin nibh lacinia vel. Nullam at enim porta, luctus metus sit amet, rutrum odio. Cras tempor enim vel pellentesque sollicitudin. Maecenas ullamcorper, sem non accumsan volutpat, neque tortor pulvinar orci, ut ultrices ligula lorem ut risus.
                    p
                        | Aliquam facilisis, nibh eget posuere suscipit, arcu sapien iaculis odio, in molestie dolor lectus vitae sem. Cras id nunc mollis mi rutrum dapibus. Quisque rutrum a augue at scelerisque. Praesent faucibus ac enim vitae gravida. Sed et sodales elit. Duis magna lectus, interdum sit amet metus a, sagittis varius magna. Proin nibh lectus, egestas a luctus ut, dapibus et enim. Curabitur fringilla ipsum vitae nunc imperdiet consectetur eget non neque. Suspendisse ultricies odio quis lorem vulputate, ac vulputate turpis feugiat. Maecenas posuere rhoncus orci, in ornare velit suscipit tempor. Curabitur pretium nisl id lorem placerat consequat. In quis quam eros. Nam mattis elit eu quam sagittis, in varius erat tempor.
                    p
                        | Fusce felis magna, pellentesque eget mollis a, rutrum id eros. Curabitur auctor varius arcu a consequat. Phasellus quis pulvinar enim, eu ultricies justo. Pellentesque risus libero, dapibus at erat ultricies, gravida varius erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla tempus, justo ut laoreet mollis, nunc tellus convallis urna, vel pretium dui velit eget ligula. Aliquam semper sed nulla a molestie. Maecenas at egestas massa, vitae aliquam mi. Fusce nec sem egestas, pretium lacus non, tincidunt sapien. Sed tristique odio at ultricies vulputate. Integer et convallis augue, eu aliquam enim. Mauris ut faucibus diam. Donec vulputate nunc sed congue accumsan. Etiam lobortis nisi quis lacinia pharetra.
        .cell.shrink.footer
            h3 Here's my footer



form.concept-form(action='/1/Concept/Save/3672', method='post')
                .validation-summary-valid.is-invalid-label(data-valmsg-summary='true')
                                ul
                                                li(style='display:none')
                .grid-x
                                a.fa.fa-trash.deleteConcept(href='/1/Concept/Delete/3672', style='pointer-events:  none', title='delete')
                                h4.small-12.cell Concept
                .grid-x.small-12.cell
                                label(style='font-weight:bold') Id
                                label  3672 
                .grid-x
                                input#Id(data-val='true', data-val-required='The Id field is required.', name='Id', type='hidden', value='3672')
                                .small-12.cell
                                                label.required(for='ConceptName') Name
                                                input#ConceptName.small-12(name='ConceptName', type='text', value='Admitting Provider')
                .grid-x
                                .small-12.cell
                                                input#Prohibited(name='Prohibited', type='hidden', value='false')
                                                input#CanEdit(data-val='true', data-val-required='The CanEdit field is required.', name='CanEdit', type='hidden', value='true')
                                                input#IsConceptDataElementPublished(data-val='true', data-val-required='The IsConceptDataElementPublished field is required.', name='IsConceptDataElementPublished', type='hidden', value='False')
                                                input#IsConceptValueSetPublished(data-val='true', data-val-required='The IsConceptValueSetPublished field is required.', name='IsConceptValueSetPublished', type='hidden', value='False')
                                                input#HasDataElements(data-val='true', data-val-required='The HasDataElements field is required.', name='HasDataElements', type='hidden', value='True')
                                                input#PreviousDomainConceptId(name='PreviousDomainConceptId', type='hidden', value='3214')
                                                input#UpdateEDWValues(data-val='true', data-val-required='The UpdateEDWValues field is required.', name='UpdateEDWValues', type='hidden', value='False')
                                                label(for='DomainConceptId') Domain Concept
                                                select#DomainConceptId.small-12(name='DomainConceptId')
                                                                option(value='') ** Please Select **
                                                                option(selected='selected', value='3214') Care Provider
                                                                option(value='3216') Condition
                                                                option(value='3217') Device
                                                                option(value='3218') Drug
                                                                option(value='3219') Lab Visit Occurrence
                                                                option(value='3221') Measurement
                                                                option(value='3222') Observation
                                                                option(value='3223') Patient
                                                                option(value='3379') Patient Ethnicity
                                                                option(value='3378') Patient Race
                                                                option(value='3224') Procedure
                                                                option(value='3225') Registry Information
                                                                option(value='3226') Visit Occurrence
                .grid-x
                                .small-4.cell
                                                label(for='StartDate') Start Date
                                                input#StartDate.datepicker.hasDatepicker(data-val='true', data-val-required='The StartDate field is required.', name='StartDate', onfocusout='validateDate(this);', type='text', value='03/01/2017')
                                                input#EndDate(name='EndDate', type='hidden', value='12/31/9999 11:59:59 PM')
                                .small-4.cell
                                                label Hide
                                                .switch.tiny
                                                                input#IsHidden.switch-input(data-val='true', data-val-required='The IsHidden field is required.', name='IsHidden', type='checkbox', value='true')
                                                                label.switch-paddle(for='IsHidden')
                                                                                span.switch-active(aria-hidden='true') YES
                                                                                span.switch-inactive(aria-hidden='true') No
                                .small-4.cells.switch
                                                label Active
                                                .switch.round.tiny
                                                                input#IsActive.switch-input(checked='checked', data-val='true', data-val-required='The IsActive field is required.', name='IsActive', type='checkbox', value='true')
                                                                label.switch-paddle(for='IsActive')
                                                                                span.switch-active(aria-hidden='true') Yes
                                                                                span.switch-inactive(aria-hidden='true') No
                section.concept-definitions(style='margin-bottom:0.5rem')
                                header.grid-x
                                                .cell.shrink
                                                                h5.float-left Concept Definitions
                                                .cell.shrink
                                                                button.button.tiny.add(type='button') Add
                                                input#cdCount(name='cdCount', type='hidden', value='0')
                                #definition-container
                                                ul#definition-tabs.tabs(data-tabs='pebn27-tabs', role='tablist')
                                                .tabs-content(data-tabs-content='definition-tabs', style='border:none')
                section#code-system-terms
                                header.grid-x
                                                .cell.shrink
                                                                h5.float-left.required Code System Binding
                                                .cell.shrink
                                                                input#AddCodeSystemTermCode.button.tiny(type='button', value='Add')
                                #term-container
                                                input(type='hidden', name='CodeSystemTerms.index', autocomplete='off', value='97079044-9801-4022-a570-65976395c8e0')
                                                .grid-x(style='border:solid 1px #e6e6e6; margin-bottom:5px')
                                                                input#CodeSystemTerms_97079044-9801-4022-a570-65976395c8e0__Id(data-val='true', data-val-required='The Id field is required.', name='CodeSystemTerms[97079044-9801-4022-a570-65976395c8e0].Id', type='hidden', value='1655')
                                                                input#CodeSystemTerms_97079044-9801-4022-a570-65976395c8e0__CodeSystemId(data-val='true', data-val-required='The CodeSystemId field is required.', name='CodeSystemTerms[97079044-9801-4022-a570-65976395c8e0].CodeSystemId', type='hidden', value='1')
                                                                input#CodeSystemTerms_97079044-9801-4022-a570-65976395c8e0__Code(name='CodeSystemTerms[97079044-9801-4022-a570-65976395c8e0].Code', type='hidden', value='1000142451')
                                                                .small-10.cells
                                                                                label.required(style='font-weight:bold') Name
                                                                                input#CodeSystemTerms_97079044-9801-4022-a570-65976395c8e0__Name.small-12(name='CodeSystemTerms[97079044-9801-4022-a570-65976395c8e0].Name', type='text', value='Admitting Provider')
                                                                .small-2.cells
                                                                                label(style='font-weight:bold') Preferred
                                                                                .switch.tiny.round
                                                                                                input#CodeSystemTerms_97079044-9801-4022-a570-65976395c8e0__Preferred.switch-input(type='radio', name='CodeSystemTermId', value='1655', checked='')
                                                                                                label.switch-paddle(for='CodeSystemTerms_97079044-9801-4022-a570-65976395c8e0__Preferred')
                                                                                                                span.switch-active(aria-hidden='true') Yes
                                                                                                                span.switch-inactive(aria-hidden='true') No
                                                                .small-6.cells
                                                                                label(style='font-weight:bold') Code
                                                                                |                                              1000142451
                                                                .small-6.cells
                                                                                label(style='font-weight:bold') Code System Name
                                                                                |                                              ACC NCDR
                .grid-x
                                .small-12.cell
                                                button.button(type='submit') Save
                                                button.button.cancel(type='button', data-cancel-url='/1/Concept') Cancel
                input(name='__RequestVerificationToken', type='hidden', value='CfDJ8Cr7w2SawNRNq6SaskVt4L8BRBZDeuoJaBh6Q-ad6dKjfajAmGPfxjGBK4B5GUv6rtEJ-n2TztngztyzaIztUAfFr_zzvhbDpOTXAhEaA2-ozGh1f_q0cqSvWcHpRPfITwsOZ4_vx9ZcOT-buG8UKLN2wKL2MPmJNiOY4mra39YPXb3ZYQrO12-kpnSFTtM2jQ')
                input(name='IsHidden', type='hidden', value='false')
                input(name='IsActive', type='hidden', value='false')
