//- include /template/components/_prompt.pug
a(name="top")

h1.docs-page-title Kitchen Sink

.kitchen-menu
  a(href="#States")
      | States

  a(href="#Forms")
      | Forms

  a(href="#Accordion")
      | Accordion

  a(href="#Accordion")
      | Accordion

  a(href="#Badge")
      | Badge

  a(href="#Breadcrumbs")
      | Breadcrumbs

  a(href="#Button")
      | Button

  a(href="#Callout")
      | Callout

  a(href="#Close")
      | Close

  a(href="#Drilldown")
      | Drilldown

  a(href="#Dropdown")
      | Dropdown

  a(href="#Dropdown")
      | Dropdown

  a(href="#Label")
      | Label

  a(href="#Media")
      | Media

  a(href="#Menu")
      | Menu

  a(href="#Pagination")
      | Pagination

  a(href="#Progress")
      | Progress

  a(href="#Reveal")
      | Reveal

  a(href="#Slider")
      | Slider

  a(href="#Sticky")
      | Sticky

  a(href="#Switch")
      | Switch

  a(href="#Table")
      | Table

  a(href="#Tabs")
      | Tabs

  a(href="#Thumbnail")
      | Thumbnail

  a(href="#Toggler")
      | Toggler

  a(href="#Tooltip")
      | Tooltip

  a(href="#ComposerGrid")
      | ComposerGrid

  a(href="#Cards")
      | Cards

  a(href="#Prompts")
      | Prompts

p.docs-description.lead Paragraph



p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean commodo nec libero vitae porttitor. Suspendisse ac sapien et ante condimentum iaculis. Ut dapibus ex vestibulum erat pellentesque suscipit quis sed nisl. Sed lobortis neque sit amet ligula pharetra, ac hendrerit nulla laoreet. Cras in vulputate nulla. Donec vel blandit lectus. Duis fermentum sit amet mauris id iaculis. Praesent a sollicitudin enim. Curabitur quis sagittis sapien, sed tempus sapien. Nam non dictum sapien, in varius odio. Sed eu condimentum orci, nec mollis nulla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce quis elit non nisi pellentesque fermentum et in nibh.
p
a Linke test Longer
p
hr
a(name="States")
h2#forms.docs-heading(data-magellan-target='forms')
  | Buttons States
.grid-x

  a.button.primary Primary
  a.button.secondary Secondary
  a.button.success Success
  a.button.alert Alert
  a.button.warning Warning

hr

a(name="Forms")
h2#forms.docs-heading(data-magellan-target='forms')
  | Forms
  a.docs-heading-icon(href='#forms')
.docs-code-live

  form(data-abide='7v3wyo-abide', novalidate='')
    .grid-x

      .cell
        .alert.callout(data-abide-error='', style='display: none;')
          p
            i.fi-alert
            |  There are some errors in your form.

      .cell
        .form--input-text.-is-required
          label
            | Number Required Quib
          input(type='text', placeholder='1234', aria-describedby='exampleHelpText', required='', pattern='number')
          span.form-error
            | Yo, you had better fill this out, it's required.
          p#exampleHelpText.help-text.-has-error Here's how you use this input field!

      .cell
        .form--input-text.-is-required
          label
            | Nothing Required!
          input(type='text', placeholder="Use me, or don't", aria-describedby='exampleHelpTex', data-abide-ignore='')
          p#exampleHelpTex.help-text This input is ignored by Abide using `data-abide-ignore`


      .cell
        .form--input-text
          label
            | Password Required
            input#password(type='password', placeholder='yeti4preZ', aria-describedby='exampleHelpText', required='')
            span.form-error
              | I'm required!
          p#exampleHelpText.help-text Enter a password please.

      .cell
          .form--input-text.-is-required
              label
                  | Description:
              textarea(rows='4', cols='50').taller
              span.form-error
                  | A description of the new create is required.
              p#exampleHelpText.help-text.-has-error Any help information (what is restricted or allow with description input)

      .cell
        .form--input-text
          label
            | Re-enter Password
            input(type='password', placeholder='yeti4preZ', aria-describedby='exampleHelpText2', required='', pattern='alpha_numeric', data-equalto='password')
            span.form-error
              | Hey, passwords are supposed to match!
          p#exampleHelpText2.help-text
            | This field is using the `data-equalto="password"` attribute, causing it to match the password field above.


    .grid-x
      .medium-6.cell
        .form--input-text
          label
            | URL Pattern, not required, but throws error if it doesn't match the Regular Expression for a valid URL.
            input(type='text', placeholder='http://foundation.zurb.com', pattern='url')
      .medium-6.cell
        .form--input-select.-is-required
          label
            | European Cars, Choose One, it can't be the blank option.
          select(required='')
            option(value='volvo') Volvo Car
            option(value='saab') Saab
            option(value='mercedes') Mercedes Longer
            option(value='audi') Audi
    .grid-x
      .medium-6.cell

        .form--input-radio
          fieldset
            legend Select one:
            input#quibRed(type='radio', name='quib', value='Red')
            label(for='quibRed') Dark Red Redder
            input#quibBlue(type='radio', name='quib', value='Blue', required='')
            label(for='quibBlue') Blue Darker AS Blue
            input#quibYellow(type='radio', name='quib', value='Yellow')
            label(for='quibYellow') Yellow



      .medium-6.cell
        //- TODO: Style radio button better
        .form--input-radio.-is-required
          fieldset
            legend  Select one:
            input#pocketsRed(type='radio', name='pockets', value='Red')
            label(for='pocketsRed') Red
            input#pocketsBlue(type='radio', name='pockets', value='Blue')
            label(for='pocketsBlue') Blue
            input#pocketsYellow(type='radio', name='pockets', value='Yellow')
            label(for='pocketsYellow') Yellow


      .medium-6.cell

        .form--input-checkbox.-is-required

          fieldset
            legend Check the following:
            input#checkbox1(type='checkbox')
            label(for='checkbox1') Checkbox 1
            input#checkbox2(type='checkbox', required='')
            label(for='checkbox2') Checkbox 2
            input#checkbox3(type='checkbox')
            label(for='checkbox3') Checkbox 3

    .grid-x
      fieldset.medium-6.cell
        button.button.success(type='submit', value='Submit') Submit
      fieldset.medium-6.columns
        button.button.secondary(type='reset', value='Reset') Reset
hr.kitchen-divider
button(href="#top")
    span.icon
        i.material-icons.md-18 vertical_align_top
a(name="Accordion")
h2#accordion.docs-heading(data-magellan-target='accordion')
  | Accordion  
.docs-code-live
  ul.accordion(data-accordion='tp8eet-accordion', role='tablist')
    li.accordion-item.is-active(data-accordion-item='')
      a#0rmnx1-accordion-label.accordion-title(href='#', aria-controls='0rmnx1-accordion', role='tab', aria-expanded='true', aria-selected='true') 
        .text ACC Accordion 1
      #0rmnx1-accordion.accordion-content(data-tab-content='', role='tabpanel', aria-labelledby='0rmnx1-accordion-label', aria-hidden='false', style='display: block;')
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean commodo nec libero vitae porttitor. Suspendisse ac sapien et ante condimentum iaculis. Ut dapibus ex vestibulum erat pellentesque suscipit quis sed nisl. Sed lobortis neque sit amet ligula pharetra, ac hendrerit nulla laoreet. Cras in vulputate nulla. Donec vel blandit lectus. Duis fermentum sit amet mauris id iaculis. Praesent a sollicitudin enim. Curabitur quis sagittis sapien, sed tempus sapien. Nam non dictum sapien, in varius odio. Sed eu condimentum orci, nec mollis nulla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce quis elit non nisi pellentesque fermentum et in nibh.
        a(href='#') Link Here
    li.accordion-item(data-accordion-item='')
      a#ec5u7s-accordion-label.accordion-title(href='#', aria-controls='ec5u7s-accordion', role='tab', aria-expanded='false', aria-selected='false') 
        .text ACC Accordion 2
      #ec5u7s-accordion.accordion-content(data-tab-content='', role='tabpanel', aria-labelledby='ec5u7s-accordion-label', aria-hidden='true')
        .form--input-text
          textarea Lorem ipsum dolor sis nulla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce quis elit non nisi pellentesque fermentum et in nibh.
        button.button I do nothing!
    li.accordion-item(data-accordion-item='')
      a#x20pz9-accordion-label.accordion-title(href='#', aria-controls='x20pz9-accordion', role='tab', aria-expanded='false', aria-selected='false') 
        .text ACC Accordion 3
      #x20pz9-accordion.accordion-content(data-tab-content='', role='tabpanel', aria-labelledby='x20pz9-accordion-label', aria-hidden='true')
        .form--input-text
          label
            | Type your name!
            input(type='text')
          p#exampleHelpText2.help-text
            | Please put your full name here


hr
a(name="Accordion")
h2#accordion-menu.docs-heading(data-magellan-target='accordion-menu')
  | Accordion Menu
  a.docs-heading-icon(href='#accordion-menu')
.docs-code.kitchen-sink(data-docs-code='', style='display: none;')
  button#copy-btn-2.docs-code-copy Copy
  pre.
.docs-code-live
  ul.vertical.menu(data-accordion-menu='ogp90c-accordion-menu', role='tree', aria-multiselectable='true')
    li#nhsber-acc-menu-link.is-accordion-submenu-parent(role='treeitem', aria-controls='jwy403-acc-menu', aria-expanded='true')
      a(href='#0') Item 1
      ul#jwy403-acc-menu.menu.vertical.nested.is-active.submenu.is-accordion-submenu(data-submenu='', role='group', aria-labelledby='nhsber-acc-menu-link', aria-hidden='false')
        li#p3zg19-acc-menu-link.is-accordion-submenu-parent.is-submenu-item.is-accordion-submenu-item(role='treeitem', aria-controls='z94v6t-acc-menu', aria-expanded='false')
          a(href='#0') Item 1A
          ul#z94v6t-acc-menu.menu.vertical.nested.submenu.is-accordion-submenu(data-submenu='', role='group', aria-labelledby='p3zg19-acc-menu-link', aria-hidden='true', style='display: none;')
            li.is-submenu-item.is-accordion-submenu-item(role='treeitem')
              a(href='#0') Item 1Ai
            li.is-submenu-item.is-accordion-submenu-item(role='treeitem')
              a(href='#0') Item 1Aii
            li.is-submenu-item.is-accordion-submenu-item(role='treeitem')
              a(href='#0') Item 1Aiii
        li.is-submenu-item.is-accordion-submenu-item(role='treeitem')
          a(href='#0') Item 1B
        li.is-submenu-item.is-accordion-submenu-item(role='treeitem')
          a(href='#0') Item 1C
    li#9r9389-acc-menu-link.is-accordion-submenu-parent(role='treeitem', aria-controls='97erc5-acc-menu', aria-expanded='false')
      a(href='#0') Item 2
      ul#97erc5-acc-menu.menu.vertical.nested.submenu.is-accordion-submenu(data-submenu='', role='group', aria-labelledby='9r9389-acc-menu-link', aria-hidden='true', style='display: none;')
        li.is-submenu-item.is-accordion-submenu-item(role='treeitem')
          a(href='#0') Item 2A
        li.is-submenu-item.is-accordion-submenu-item(role='treeitem')
          a(href='#0') Item 2B
    li(role='treeitem')
      a(href='#0') Item 3
hr
a(name="Badge")
h2#badge.docs-heading(data-magellan-target='badge')
  | Badge
  a.docs-heading-icon(href='#badge')
.docs-code.kitchen-sink(data-docs-code='', style='display: none;')
  button#copy-btn-3.docs-code-copy Copy
  pre.
.docs-code-live
  span.primary.badge 1
  span.secondary.badge 2
  span.success.badge 3
  span.alert.badge A
  span.warning.badge B
hr
a(name="Breadcrumbs")
h2#breadcrumbs.docs-heading(data-magellan-target='breadcrumbs')
  | Breadcrumbs
  a.docs-heading-icon(href='#breadcrumbs')
.docs-code-live
  nav(aria-label='You are here:', role='navigation')
    ul.breadcrumbs
      li
        a(href='#0') Home
      li
        a(href='#0') Features
      li.disabled Gene Splicing
      li
        span.show-for-sr Current: 
        |  Cloning
hr
a(name="Button")
h2#button.docs-heading(data-magellan-target='button')
  | Button
  a.docs-heading-icon(href='#button')
.docs-code-live
  // Anchors (links)
  a.button(href='#0') Learn More
  a.button(href='#features') View All Features
  // Buttons (actions)
  button.success.button(type='button') Save
  button.alert.button(type='button') Delete
  a.tiny.button(href='#0') So Tiny
  a.small.button(href='#0') So Small
  a.large.button(href='#0') So Large
  a.expanded.button(href='#0') Such Expand
  .button-group
    a.button One
    a.button Two
    a.button Three
hr
a(name="Callout")
h2#callout.docs-heading(data-magellan-target='callout')
  | Callout
  a.docs-heading-icon(href='#callout')
a.docs-code-toggle Toggle Code
.docs-codepen-container.kitchen-sink(data-ks-codepen='', style='display: none;')
  a.codepen-logo-link(href='https://codepen.io/IamManchanda/pen/XRqjxj?editors=1000', target='_blank')
    img(src='assets/img/logos/edit-in-browser.svg', height='', width='', alt='edit on codepen button')
.docs-code.kitchen-sink(data-docs-code='', style='display: none;')
  button#copy-btn-6.docs-code-copy Copy
  pre.
.docs-code-live
  .callout
    h5 This is a callout.
    p It has an easy to override visual style, and is appropriately subdued.
    a(href='#0') It's dangerous to go alone, take this.
  .callout.primary
    h5 This is a primary callout.
    p It has an easy to override visual style, and is appropriately subdued.
    a(href='#0') It's dangerous to go alone, take this.
  .callout.secondary
    h5 This is a secondary callout
    p It has an easy to override visual style, and is appropriately subdued.
    a(href='#0') It's dangerous to go alone, take this.
  .callout.success
    h5 This is a success callout
    p It has an easy to override visual style, and is appropriately subdued.
    a(href='#0') It's dangerous to go alone, take this.
  .callout.warning
    h5 This is a warning callout
    p It has an easy to override visual style, and is appropriately subdued.
    a(href='#0') It's dangerous to go alone, take this.
  .callout.alert
    h5 This is an alert callout
    p It has an easy to override visual style, and is appropriately subdued.
    a(href='#0') It's dangerous to go alone, take this.
hr
a(name="Close")
h2#close-button.docs-heading(data-magellan-target='close-button')
  | Close Button
  a.docs-heading-icon(href='#close-button')
.docs-code-live
  .callout
    button.close-button(aria-label='Close alert', type='button')
      //- span(aria-hidden='true') ×
      i.material-icons.md-18(aria-hidden='true') close
    p This is a static close button example.
hr
a(name="Drilldown")
h2#drilldown-menu.docs-heading(data-magellan-target='drilldown-menu')
  | Drilldown Menu
  a.docs-heading-icon(href='#drilldown-menu')
.docs-code.kitchen-sink(data-docs-code='', style='display: none;')
  button#copy-btn-8.docs-code-copy Copy
  pre.
.docs-code-live
  .is-drilldown(style='min-height: 230.4px; max-width: 200px;')
    ul#m1.vertical.menu.drilldown(data-drilldown='x8lnsk-drilldown', style='width: 200px', role='tree', aria-multiselectable='false', data-mutate='fh78py-drilldown')
      li.is-drilldown-submenu-parent(role='treeitem', aria-haspopup='true', aria-label='Item 1', aria-expanded='false')
        a(tabindex='0') Item 1
        ul#m2.vertical.menu.submenu.is-drilldown-submenu.invisible.drilldown-submenu-cover-previous(data-submenu='', role='group', aria-hidden='true')
          li.js-drilldown-back
            a(tabindex='0') Back
          li.is-drilldown-submenu-parent.is-submenu-item.is-drilldown-submenu-item(role='treeitem', aria-haspopup='true', aria-label='Item 1A', aria-expanded='false')
            a(tabindex='0') Item 1A
            ul#m3.vertical.menu.submenu.is-drilldown-submenu.invisible.drilldown-submenu-cover-previous(data-submenu='', role='group', aria-hidden='true')
              li.js-drilldown-back
                a(tabindex='0') Back
              li.is-submenu-item.is-drilldown-submenu-item(role='treeitem')
                a(href='#0') Item 1Aa
              li.is-submenu-item.is-drilldown-submenu-item(role='treeitem')
                a(href='#0') Item 1Ba
              li.is-submenu-item.is-drilldown-submenu-item(role='treeitem')
                a(href='#0') Item 1Ca
              li.is-submenu-item.is-drilldown-submenu-item(role='treeitem')
                a(href='#0') Item 1Da
              li.is-submenu-item.is-drilldown-submenu-item(role='treeitem')
                a(href='#0') Item 1Ea
          li.is-submenu-item.is-drilldown-submenu-item(role='treeitem')
            a(href='#0') Item 1B
          li.is-submenu-item.is-drilldown-submenu-item(role='treeitem')
            a(href='#0') Item 1C
          li.is-submenu-item.is-drilldown-submenu-item(role='treeitem')
            a(href='#0') Item 1D
          li.is-submenu-item.is-drilldown-submenu-item(role='treeitem')
            a(href='#0') Item 1E
      li.is-drilldown-submenu-parent(role='treeitem', aria-haspopup='true', aria-label='Item 2', aria-expanded='false')
        a(tabindex='0') Item 2
        ul.vertical.menu.submenu.is-drilldown-submenu.invisible.drilldown-submenu-cover-previous(data-submenu='', role='group', aria-hidden='true')
          li.js-drilldown-back
            a(tabindex='0') Back
          li.is-submenu-item.is-drilldown-submenu-item(role='treeitem')
            a(href='#0') Item 2A
          li.is-submenu-item.is-drilldown-submenu-item(role='treeitem')
            a(href='#0') Item 2B
          li.is-submenu-item.is-drilldown-submenu-item(role='treeitem')
            a(href='#0') Item 2C
          li.is-submenu-item.is-drilldown-submenu-item(role='treeitem')
            a(href='#0') Item 2D
          li.is-submenu-item.is-drilldown-submenu-item(role='treeitem')
            a(href='#0') Item 2E
      li.is-drilldown-submenu-parent(role='treeitem', aria-haspopup='true', aria-label='Item 3', aria-expanded='false')
        a(tabindex='0') Item 3
        ul.vertical.menu.submenu.is-drilldown-submenu.invisible.drilldown-submenu-cover-previous(data-submenu='', role='group', aria-hidden='true')
          li.js-drilldown-back
            a(tabindex='0') Back
          li.is-submenu-item.is-drilldown-submenu-item(role='treeitem')
            a(href='#0') Item 3A
          li.is-submenu-item.is-drilldown-submenu-item(role='treeitem')
            a(href='#0') Item 3B
          li.is-submenu-item.is-drilldown-submenu-item(role='treeitem')
            a(href='#0') Item 3C
          li.is-submenu-item.is-drilldown-submenu-item(role='treeitem')
            a(href='#0') Item 3D
          li.is-submenu-item.is-drilldown-submenu-item(role='treeitem')
            a(href='#0') Item 3E
      li(role='treeitem')
        a(href='#0')  Item 4
hr
a(name="Dropdown")
h2#dropdown-menu.docs-heading(data-magellan-target='dropdown-menu')
  | Dropdown Menu
  a.docs-heading-icon(href='#dropdown-menu')
.docs-code.kitchen-sink(data-docs-code='', style='display: none;')
  button#copy-btn-9.docs-code-copy Copy
  pre.
.docs-code-live
  ul.dropdown.menu(data-dropdown-menu='epqyvi-dropdown-menu', role='menubar')
    li.is-dropdown-submenu-parent.opens-right(role='menuitem', aria-haspopup='true', aria-label='Item 1')
      a Item 1
      ul.menu.submenu.is-dropdown-submenu.first-sub.vertical(data-submenu='', role='menu')
        li.is-submenu-item.is-dropdown-submenu-item(role='menuitem')
          a(href='#0') Item 1A Loooong
        li.is-dropdown-submenu-parent.is-submenu-item.is-dropdown-submenu-item.opens-right(role='menuitem', aria-haspopup='true', aria-label=' Item 1 sub')
          a(href='#0')  Item 1 sub
          ul.menu.submenu.is-dropdown-submenu.vertical(data-submenu='', role='menu')
            li.is-submenu-item.is-dropdown-submenu-item(role='menuitem')
              a(href='#0') Item 1 subA
            li.is-submenu-item.is-dropdown-submenu-item(role='menuitem')
              a(href='#0') Item 1 subB
            li.is-dropdown-submenu-parent.is-submenu-item.is-dropdown-submenu-item.opens-right(role='menuitem', aria-haspopup='true', aria-label=' Item 1 sub')
              a(href='#0')  Item 1 sub
              ul.menu.submenu.is-dropdown-submenu.vertical(data-submenu='', role='menu')
                li.is-submenu-item.is-dropdown-submenu-item(role='menuitem')
                  a(href='#0') Item 1 subA
                li.is-submenu-item.is-dropdown-submenu-item(role='menuitem')
                  a(href='#0') Item 1 subB
            li.is-dropdown-submenu-parent.is-submenu-item.is-dropdown-submenu-item.opens-right(role='menuitem', aria-haspopup='true', aria-label=' Item 1 sub')
              a(href='#0')  Item 1 sub
              ul.menu.submenu.is-dropdown-submenu.vertical(data-submenu='', role='menu')
                li.is-submenu-item.is-dropdown-submenu-item(role='menuitem')
                  a(href='#0') Item 1 subA
        li.is-submenu-item.is-dropdown-submenu-item(role='menuitem')
          a(href='#0') Item 1B
    li.is-dropdown-submenu-parent.opens-right(role='menuitem', aria-haspopup='true', aria-label='Item 2')
      a(href='#0') Item 2
      ul.menu.submenu.is-dropdown-submenu.first-sub.vertical(data-submenu='', role='menu')
        li.is-submenu-item.is-dropdown-submenu-item(role='menuitem')
          a(href='#0') Item 2A
        li.is-submenu-item.is-dropdown-submenu-item(role='menuitem')
          a(href='#0') Item 2B
    li(role='menuitem')
      a(href='#0') Item 3
    li(role='menuitem')
      a(href='#0') Item 4
hr
a(name="Dropdown")
h2#dropdown-pane.docs-heading(data-magellan-target='dropdown-pane')
  | Dropdown Pane
  a.docs-heading-icon(href='#dropdown-pane')
.docs-code.kitchen-sink(data-docs-code='', style='display: none;')
  button#copy-btn-10.docs-code-copy Copy
  pre.
.docs-code-live
  button.button(type='button', data-toggle='example-dropdown', aria-controls='example-dropdown', data-is-focus='false', data-yeti-box='example-dropdown', aria-haspopup='true', aria-expanded='false') Toggle Dropdown
  #example-dropdown.dropdown-pane(data-dropdown='ho911k-dropdown', aria-hidden='true', data-yeti-box='example-dropdown', data-resize='example-dropdown', aria-labelledby='l1njay-dd-anchor', data-events='resize')
    | Just some junk that needs to be said. Or not. Your choice.
hr
a(name="Label")
h2#label.docs-heading(data-magellan-target='label')
  | Label
  a.docs-heading-icon(href='#label')
a.docs-code-toggle Toggle Code
.docs-codepen-container.kitchen-sink(data-ks-codepen='', style='display: none;')
  a.codepen-logo-link(href='https://codepen.io/IamManchanda/pen/VbxMXq?editors=1000', target='_blank')
    img(src='assets/img/logos/edit-in-browser.svg', height='', width='', alt='edit on codepen button')
.docs-code.kitchen-sink(data-docs-code='', style='display: none;')
  button#copy-btn-18.docs-code-copy Copy
  pre.
.docs-code-live
  span.primary.label Primary Label
  span.secondary.label Secondary Label
  span.success.label Success Label
  span.alert.label Alert Label
  span.warning.label Warning Label
hr
a(name="Media")
h2#media-object.docs-heading(data-magellan-target='media-object')
  | Media Object
  a.docs-heading-icon(href='#media-object')

.docs-code-live
  .media-object
    .media-object-section
      img(src='http://via.placeholder.com/150x150')
    .media-object-section
      h4 Dreams feel real while we're in them.
      p
        | I'm going to improvise. Listen, there's something you should know about me... about inception. An idea is like a virus, resilient, highly contagious. The smallest seed of an idea can grow. It can grow to define or destroy you.
hr
a(name="Menu")
h2#menu.docs-heading(data-magellan-target='menu')
  | Menu
  a.docs-heading-icon(href='#menu')
.docs-code-live
  ul.menu
    li
      a(href='#0')
        i.fi-list
        span One
    li
      a(href='#0')
        i.fi-list
        span Two
    li
      a(href='#0')
        i.fi-list
        span Three
    li
      a(href='#0')
        i.fi-list
        span Four   
hr
a(name="Pagination")
h2#pagination.docs-heading(data-magellan-target='pagination')
  | Pagination
  a.docs-heading-icon(href='#pagination')
.docs-code-live
  ul.pagination(role='navigation', aria-label='Pagination')
    li.disabled
      | Previous 
      span.show-for-sr page
    li.current
      span.show-for-sr You're on page
      |  1
    li
      a(href='#0', aria-label='Page 2') 2
    li
      a(href='#0', aria-label='Page 3') 3
    li
      a(href='#0', aria-label='Page 4') 4
    li.ellipsis(aria-hidden='true')
    li
      a(href='#0', aria-label='Page 12') 12
    li
      a(href='#0', aria-label='Page 13') 13
    li
      a(href='#0', aria-label='Next page')
        | Next 
        span.show-for-sr page
hr
a(name="Progress")
h2#progress-bar.docs-heading(data-magellan-target='progress-bar')
  | Progress Bar
  a.docs-heading-icon(href='#progress-bar')
.docs-code-live
  .primary.progress(role='progressbar', tabindex='0', aria-valuenow='25', aria-valuemin='0', aria-valuetext='25 percent', aria-valuemax='100')
    .progress-meter(style='width: 25%')
      p.progress-meter-text 25%
  .warning.progress
    .progress-meter(style='width: 50%')
      p.progress-meter-text 50%
  .alert.progress
    .progress-meter(style='width: 75%')
      p.progress-meter-text 75%
  .success.progress(role='progressbar', tabindex='0', aria-valuenow='100', aria-valuemin='0', aria-valuetext='100 percent', aria-valuemax='100')
    .progress-meter(style='width: 100%')
      p.progress-meter-text 100%
hr
a(name="Reveal")
h2#reveal.docs-heading(data-magellan-target='reveal')
  | Reveal
  a.docs-heading-icon(href='#reveal')
.docs-code-live
  p
    a(data-open='exampleModal1', aria-controls='exampleModal1', aria-haspopup='true', tabindex='0') Click me for a modal
hr
a(name="Slider")
h2#slider.docs-heading(data-magellan-target='slider')
  | Slider
  a.docs-heading-icon(href='#slider')
.docs-code-live
  .slider(data-slider='gt1jfz-slider', data-initial-start='50', data-end='200')
    span.slider-handle(data-slider-handle='', role='slider', tabindex='0', aria-controls='ahzyv4-slider', aria-valuemax='200', aria-valuemin='0', aria-valuenow='50', aria-orientation='horizontal', style='left: 24.34%;')
    span.slider-fill(data-slider-fill='', style='width: 25%;')
    input#ahzyv4-slider(type='hidden', max='200', min='0', step='1', value='50')
  .slider.vertical(data-slider='woe2r0-slider', data-initial-start='25', data-end='200', data-vertical='true')
    span.slider-handle(data-slider-handle='', role='slider', tabindex='0', aria-controls='er70ey-slider', aria-valuemax='200', aria-valuemin='0', aria-valuenow='25', aria-orientation='vertical', style='top: 11.54%;')
    span.slider-fill(data-slider-fill='', style='height: 13%;')
    input#er70ey-slider(type='hidden', max='200', min='0', step='1', value='25')
  .slider(data-slider='9hi6jv-slider', data-initial-start='25', data-initial-end='75')
    span.slider-handle(data-slider-handle='', role='slider', tabindex='0', aria-controls='1jjanv-slider', aria-valuemax='100', aria-valuemin='0', aria-valuenow='25', aria-orientation='horizontal', style='left: 24.34%;')
    span.slider-fill(data-slider-fill='', style='width: 0px; min-width: 50.02%; left: 24.34%;')
    span.slider-handle(data-slider-handle='', role='slider', tabindex='0', aria-controls='3suku5-slider', aria-valuemax='100', aria-valuemin='0', aria-valuenow='75', aria-orientation='horizontal', style='left: 73.02%;')
    input#1jjanv-slider(type='hidden', max='100', min='0', step='1', value='25')
    input#3suku5-slider(type='hidden', max='100', min='0', step='1', value='75')
hr
a(name="Sticky")
h2#sticky.docs-heading(data-magellan-target='sticky')
  | Sticky
  a.docs-heading-icon(href='#sticky')
.docs-code-live
  .grid-x
    #example1.columns.small-6(data-something='', data-mutate='30qjxh-sticky')
      p#doodle
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .columns.small-6.right.sticky-container(data-sticky-container='', style='height: 192.387px;')
      .sticky.is-anchored.is-at-top(data-sticky='575kj8-sticky', data-margin-top='6', data-anchor='example1', data-resize='30qjxh-sticky', data-mutate='30qjxh-sticky', data-events='mutate', style='max-width: 336.8px; margin-top: 0px; bottom: auto; top: 0px;')
        img.thumbnail(src='http://via.placeholder.com/150x150')
hr
a(name="Switch")
h2#switch.docs-heading(data-magellan-target='switch')
  | Switch
  a.docs-heading-icon(href='#switch')
.docs-code-live
  .switch.tiny
    input#tinySwitch.switch-input(type='checkbox', name='exampleSwitch')
    label.switch-paddle(for='tinySwitch')
      span.show-for-sr Tiny Sandwiches Enabled
  .switch.small
    input#smallSwitch.switch-input(type='checkbox', name='exampleSwitch')
    label.switch-paddle(for='smallSwitch')
      span.show-for-sr Small Portions Only
  .switch.large
    input#largeSwitch.switch-input(type='checkbox', name='exampleSwitch')
    label.switch-paddle(for='largeSwitch')
      span.show-for-sr Show Large Elephants
hr
a(name="Table")
h2#table.docs-heading(data-magellan-target='table')
  | Table
  a.docs-heading-icon(href='#table')
.docs-code-live
  table
    thead
      tr
        th(width='200') Table Header
        th Table Header
        th(width='150') Table Header
        th(width='150') Table Header
    tbody
      tr
        td Content Goes Here
        td This is longer content Donec id elit non mi porta gravida at eget metus.
        td Content Goes Here
        td Content Goes Here
      tr
        td Content Goes Here
        td
          | This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.
        td Content Goes Here
        td Content Goes Here
      tr
        td Content Goes Here
        td
          | This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.
        td Content Goes Here
        td Content Goes Here
hr
a(name="Tabs")
h2#tabs.docs-heading(data-magellan-target='tabs')
  | Tabs
  a.docs-heading-icon(href='#tabs')
.docs-code-live
  ul#example-tabs.tabs(data-tabs='wxe6l9-tabs', role='tablist')
    li.tabs-title.is-active(role='presentation')
      a#panel1-label(href='#panel1', aria-selected='true', role='tab', aria-controls='panel1', tabindex='0') Tab 1
    li.tabs-title(role='presentation')
      a#panel2-label(href='#panel2', role='tab', aria-controls='panel2', aria-selected='false', tabindex='-1') Tab 2
    li.tabs-title(role='presentation')
      a#panel3-label(href='#panel3', role='tab', aria-controls='panel3', aria-selected='false', tabindex='-1') Tab 3
    li.tabs-title(role='presentation')
      a#panel4-label(href='#panel4', role='tab', aria-controls='panel4', aria-selected='false', tabindex='-1') Tab 4
    li.tabs-title(role='presentation')
      a#panel5-label(href='#panel5', role='tab', aria-controls='panel5', aria-selected='false', tabindex='-1') Tab 5
    li.tabs-title(role='presentation')
      a#panel6-label(href='#panel6', role='tab', aria-controls='panel6', aria-selected='false', tabindex='-1') Tab 6
  .tabs-content(data-tabs-content='example-tabs')
    #panel1.tabs-panel.is-active(role='tabpanel', aria-labelledby='panel1-label')
      p One
      p Check me out! I'm a super cool Tab panel with text content!
    #panel2.tabs-panel(role='tabpanel', aria-labelledby='panel2-label', aria-hidden='true')
      p Two
      img.thumbnail(src='assets/img/generic/rectangle-7.jpg')
    #panel3.tabs-panel(role='tabpanel', aria-labelledby='panel3-label', aria-hidden='true')
      p Three
      p Check me out! I'm a super cool Tab panel with text content!
    #panel4.tabs-panel(role='tabpanel', aria-labelledby='panel4-label', aria-hidden='true')
      p Four
      img.thumbnail(src='assets/img/generic/rectangle-2.jpg')
    #panel5.tabs-panel(role='tabpanel', aria-labelledby='panel5-label', aria-hidden='true')
      p Five
      p Check me out! I'm a super cool Tab panel with text content!
    #panel6.tabs-panel(role='tabpanel', aria-labelledby='panel6-label', aria-hidden='true')
      p Six
      img.thumbnail(src='assets/img/generic/rectangle-8.jpg')
hr
a(name="Thumbnail")
h2#thumbnail.docs-heading(data-magellan-target='thumbnail')
  | Thumbnail
  a.docs-heading-icon(href='#thumbnail')
.docs-code-live
  .grid-x
    .small-4.columns
      img.thumbnail(src='http://via.placeholder.com/150x150', alt='Photo of Uranus.')
    .small-4.columns
      img.thumbnail(src='http://via.placeholder.com/150x150', alt='Photo of Neptune.')
    .small-4.columns
      img.thumbnail(src='http://via.placeholder.com/150x150', alt='Photo of Pluto.')
hr
a(name="Toggler")
h2#toggler.docs-heading(data-magellan-target='toggler')
  | Toggler
  a.docs-heading-icon(href='#toggler')
.docs-code-live
  p
    a(data-toggle='menuBar', aria-controls='menuBar') Expand!
  ul#menuBar.menu(data-toggler='.expanded', aria-expanded='true')
    li
      a(href='#0')
        i.fi-list
        span One
    li
      a(href='#0')
        i.fi-list
        span Two
    li
      a(href='#0')
        i.fi-list
        span Three
    li
      a(href='#0')
        i.fi-list
        span Four
hr
a(name="Tooltip")
h2#tooltip.docs-heading(data-magellan-target='tooltip')
  | Tooltip
  a.docs-heading-icon(href='#tooltip')
.docs-code-live
  p
    | The 
    span.has-tip(data-tooltip='spnzz1-tooltip', aria-haspopup='true', data-disable-hover='false', tabindex='1', title='', aria-describedby='lhggm4-tooltip', data-yeti-box='lhggm4-tooltip', data-toggle='lhggm4-tooltip', data-resize='lhggm4-tooltip', data-events='resize') scarabaeus
    |  hung quite clear of any branches, and, if allowed to fall, would have fallen at our feet. Legrand immediately took the scythe, and cleared with it a circular space, three or four yards in diameter, just beneath the insect, and, having accomplished this, ordered Jupiter to let go the string and come down from the tree.

            
hr
a(name="ComposerGrid")
h2#tooltip.docs-heading(data-magellan-target='tooltip')
  | Composer Grid
  a.docs-heading-icon(href='#tooltip')
.docs-code-live
#composer-a.composer--grid
    .grid-x
        .composer--grid-cell.cell.small-2
            | 1
        .composer--grid-cell.cell.small-2.-is-hovered
            | 2
        .composer--grid-cell.cell.small-2
            | 3
        .composer--grid-cell.cell.small-2
            | 4
        .composer--grid-cell.cell.small-2
            | 5
        .composer--grid-cell.cell.small-2
            | 6

hr
a(name="Cards")
h2#tooltip.docs-heading(data-magellan-target='tooltip')
  | Cards (normal, selected)
  a.docs-heading-icon(href='#tooltip')
.docs-code-live
#card-id-12.card--element-node.card(data-micro-interaction="card")
    .card-divider
        .grid-x
            .card-title.cell.small-10
                .icon
                    i.material-icons.md-18 change_history
                .text
                    | Element Name Here
            .card-options.small-2
                button.button-option-setting(data-micro-interaction="option")
                    span.icon
                        i.material-icons.md-18 settings
                button.button-option-drag(data-micro-interaction="card")
                    span.icon
                        i.material-icons.md-18 drag_handle
    .card-section.-is-collapsed
        .grid-x
            .medium-3.cell
                .form--input-select
                    .switch.tiny
                            label.switch-value(for='switchA-1')
                                | Show:
                            input#switchA-1.switch-input(type='checkbox', name='switchA-1')
                            label.switch-paddle(for='switchA-1')
                                span.show-for-sr Edit Mode
                                span.switch-active(aria-hidden='true')
                                    | yes
                                span.switch-inactive(aria-hidden='true')
                                    | no
            .medium-3.cell
                .form--input-select
                    .switch.tiny
                            label.switch-value(for='switchA-2')
                                | Show
                            input#switchA-2.switch-input(type='checkbox', name='switchA-2')
                            label.switch-paddle(for='switchA-2')
                                span.show-for-sr Edit Mode
                                span.switch-active(aria-hidden='true')
                                    i.material-icons.md-14(aria-hidden='true') visibility
                                span.switch-inactive(aria-hidden='true')
                                    i.material-icons.md-14(aria-hidden='true') visibility_off
            .medium-3.cell
                .form--input-select
                    label
                        | Options
                    select(required='')
                        option(value='volvo') One
                        option(value='saab') Two
                        option(value='mercedes') Three
            .medium-3.cell
                .form--input-select
                    label
                        | Options
                    select(required='')
                        option(value='volvo') One
                        option(value='saab') Two
                        option(value='mercedes') Three
#card-id-13.card--element-node.card.-is-selected(data-micro-interaction="card")
    .card-divider
        .grid-x
            .card-title.cell.small-10
                .icon
                    i.material-icons.md-18 change_history
                .text
                    | Element Name Here
            .card-options.small-2
                button.button-option-setting(data-micro-interaction="option")
                    span.icon
                        i.material-icons.md-18 settings
                button.button-option-drag(data-micro-interaction="card")
                    span.icon
                        i.material-icons.md-18 drag_handle
    .card-section.-is-collapsed
        .grid-x
            .medium-3.cell
                .form--input-select
                    .switch.tiny
                            label.switch-value(for='switchA-1')
                                | Show:
                            input#switchA-1.switch-input(type='checkbox', name='switchA-1')
                            label.switch-paddle(for='switchA-1')
                                span.show-for-sr Edit Mode
                                span.switch-active(aria-hidden='true')
                                    | yes
                                span.switch-inactive(aria-hidden='true')
                                    | no
            .medium-3.cell
                .form--input-select
                    .switch.tiny
                            label.switch-value(for='switchA-2')
                                | Show
                            input#switchA-2.switch-input(type='checkbox', name='switchA-2')
                            label.switch-paddle(for='switchA-2')
                                span.show-for-sr Edit Mode
                                span.switch-active(aria-hidden='true')
                                    i.material-icons.md-14(aria-hidden='true') visibility
                                span.switch-inactive(aria-hidden='true')
                                    i.material-icons.md-14(aria-hidden='true') visibility_off
            .medium-3.cell
                .form--input-select
                    label
                        | Options
                    select(required='')
                        option(value='volvo') One
                        option(value='saab') Two
                        option(value='mercedes') Three
            .medium-3.cell
                .form--input-select
                    label
                        | Options
                    select(required='')
                        option(value='volvo') One
                        option(value='saab') Two
                        option(value='mercedes') Three
h5#tooltip.docs-heading(data-magellan-target='tooltip')
  | Card / States (success, alert, error, secondary, primary)
#card-id-31.card--element-node.card.success(data-micro-interaction="card")
    .card-divider
        .grid-x
            .card-title.cell.small-10
                .icon
                    i.material-icons.md-18 change_history
                .text
                    | Element Name Here
            .card-options.small-2
                button.button-option-setting(data-micro-interaction="option")
                    span.icon
                        i.material-icons.md-18 settings
                button.button-option-drag(data-micro-interaction="card")
                    span.icon
                        i.material-icons.md-18 drag_handle
    .card-section.-is-collapsed
            .grid-x
                .medium-3.cell
                    .form--input-select
                        .switch.tiny
                                label.switch-value(for='switchA-1')
                                    | Show:
                                input#switchA-1.switch-input(type='checkbox', name='switchA-1')
                                label.switch-paddle(for='switchA-1')
                                    span.show-for-sr Edit Mode
                                    span.switch-active(aria-hidden='true')
                                        | yes
                                    span.switch-inactive(aria-hidden='true')
                                        | no
#card-id-221.card--element-node.card.alert(data-micro-interaction="card")
    .card-divider
        .grid-x
            .card-title.cell.small-10
                .icon
                    i.material-icons.md-18 change_history
                .text
                    | Element Name Here
            .card-options.small-2
                button.button-option-setting(data-micro-interaction="option")
                    span.icon
                        i.material-icons.md-18 settings
                button.button-option-drag(data-micro-interaction="card")
                    span.icon
                        i.material-icons.md-18 drag_handle
    .card-section.-is-collapsed
            .grid-x
                .medium-3.cell
                    .form--input-select
                        .switch.tiny
                                label.switch-value(for='switchA-1')
                                    | Show:
                                input#switchA-1.switch-input(type='checkbox', name='switchA-1')
                                label.switch-paddle(for='switchA-1')
                                    span.show-for-sr Edit Mode
                                    span.switch-active(aria-hidden='true')
                                        | yes
                                    span.switch-inactive(aria-hidden='true')
                                        | no
#card-id-111.card--element-node.card.error(data-micro-interaction="card")
    .card-divider
        .grid-x
            .card-title.cell.small-10
                .icon
                    i.material-icons.md-18 change_history
                .text
                    | Element Name Here
            .card-options.small-2
                button.button-option-setting(data-micro-interaction="option")
                    span.icon
                        i.material-icons.md-18 settings
                button.button-option-drag(data-micro-interaction="card")
                    span.icon
                        i.material-icons.md-18 drag_handle
    .card-section.-is-collapsed
            .grid-x
                .medium-3.cell
                    .form--input-select
                        .switch.tiny
                                label.switch-value(for='switchA-1')
                                    | Show:
                                input#switchA-1.switch-input(type='checkbox', name='switchA-1')
                                label.switch-paddle(for='switchA-1')
                                    span.show-for-sr Edit Mode
                                    span.switch-active(aria-hidden='true')
                                        | yes
                                    span.switch-inactive(aria-hidden='true')
                                        | no
#card-id-121.card--element-node.card.secondary(data-micro-interaction="card")
    .card-divider
        .grid-x
            .card-title.cell.small-10
                .icon
                    i.material-icons.md-18 change_history
                .text
                    | Element Name Here
            .card-options.small-2
                button.button-option-setting(data-micro-interaction="option")
                    span.icon
                        i.material-icons.md-18 settings
                button.button-option-drag(data-micro-interaction="card")
                    span.icon
                        i.material-icons.md-18 drag_handle
    .card-section.-is-collapsed
            .grid-x
                .medium-3.cell
                    .form--input-select
                        .switch.tiny
                                label.switch-value(for='switchA-1')
                                    | Show:
                                input#switchA-1.switch-input(type='checkbox', name='switchA-1')
                                label.switch-paddle(for='switchA-1')
                                    span.show-for-sr Edit Mode
                                    span.switch-active(aria-hidden='true')
                                        | yes
                                    span.switch-inactive(aria-hidden='true')
                                        | no
#card-id-421.card--element-node.card.primary(data-micro-interaction="card")
    .card-divider
        .grid-x
            .card-title.cell.small-10
                .icon
                    i.material-icons.md-18 change_history
                .text
                    | Element Name Here
            .card-options.small-2
                button.button-option-setting(data-micro-interaction="option")
                    span.icon
                        i.material-icons.md-18 settings
                button.button-option-drag(data-micro-interaction="card")
                    span.icon
                        i.material-icons.md-18 drag_handle
    .card-section.-is-collapsed
            .grid-x
                .medium-3.cell
                    .form--input-select
                        .switch.tiny
                                label.switch-value(for='switchA-1')
                                    | Show:
                                input#switchA-1.switch-input(type='checkbox', name='switchA-1')
                                label.switch-paddle(for='switchA-1')
                                    span.show-for-sr Edit Mode
                                    span.switch-active(aria-hidden='true')
                                        | yes
                                    span.switch-inactive(aria-hidden='true')
                                        | no

//- h4#tooltip.docs-heading(data-magellan-target='tooltip')
  | Card / Operator

hr
a(name="Prompts")
h2#tooltip.docs-heading(data-magellan-target='tooltip')
  | Prompts
  a.docs-heading-icon(href='#tooltip')
.docs-code-live

  .content--prompt.callout.alert(data-closable='')
    .grid-x.grid-padding-x
      .icon.cell.small-1
        i.material-icons.md-24 error
      .text.cell.small-10
        span.text Lorem ipsum dolor sit amet, consectetur
      .btn.cell.small-1
        button.close-button(aria-label='Dismiss alert', type='button', data-close='')
          i.material-icons.md-18 close
  .content--prompt.callout.primary(data-closable='')
    .grid-x.grid-padding-x
      .icon.cell.small-1
        i.material-icons.md-24 warning
      .text.cell.small-10
        span.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean commodo nec libero vitae porttitor. Suspendisse ac sapien et ante condimentum iaculis. Ut dapibus ex vestibulum era.
      .btn.cell.small-1
        button.close-button(aria-label='Dismiss alert', type='button', data-close='')
          i.material-icons.md-18 close
  .content--prompt.callout.secondary(data-closable='')
    .grid-x.grid-padding-x
      .icon.cell.small-1
        i.material-icons.md-24 priority_high
      .text.cell.small-10
        span.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean commodo nec libero vitae porttitor. Suspendisse ac sapien et ante condimentum iaculis. Ut dapibus ex vestibulum erat pellentesque suscipit quis sed nisl. Sed lobortis neque sit amet ligula pharetra, ac hendrerit nulla laoreet. Cras in vulputate nulla. Donec vel blandit lectus. Duis fermentum sit amet mauris id iaculis. Praesent a sollicitudin enim. Curabitur quis sagittis sapien, sed tempus sapien. Nam non dictum sapien, in varius odio. Sed eu condimentum orci, nec mollis nulla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce quis elit non nisi pellentesque fermentum et in nibh.
      .btn.cell.small-1
        button.close-button(aria-label='Dismiss alert', type='button', data-close='')
          i.material-icons.md-18 close
  .content--prompt.callout.success(data-closable='')
    .grid-x.grid-padding-x
      .icon.cell.small-1
        i.material-icons.md-24 thumb_up
      .text.cell.small-10
        span.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean commodo nec libero vitae porttitor. Suspendisse ac sapien et ante condimentum iaculis. Ut dapibus ex vestibulum erat pellentesque suscipit quis sed nisl. Sed lobortis neque sit amet ligula pharetra, ac hendrerit nulla laoreet. Cras in vulputate nulla. Donec vel blandit lectus. Duis fermentum sit amet mauris id iaculis. Praesent a sollicitudin enim. Curabitur quis sagittis sapien, sed tempus sapien. Nam non dictum sapien, in varius odio. Sed eu condimentum orci, nec mollis nulla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce quis elit non nisi pellentesque fermentum et in nibh.
      .btn.cell.small-1
        button.close-button(aria-label='Dismiss alert', type='button', data-close='')
          i.material-icons.md-18 close
  .content--prompt.callout.warning(data-closable='')
    .grid-x.grid-padding-x
      .icon.cell.small-1
        i.material-icons.md-24 error_outline
      .text.cell.small-10
        span.text 
                  ul
                    //- h4 tests List
                    li test 1
                    li test 1
                    li test 1
                    li test 1 test test longer
      .btn.cell.small-1
        button.close-button(aria-label='Dismiss alert', type='button', data-close='')
          i.material-icons.md-18 close